@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.wcc_showcase-toggle{
		@apply tw-relative tw-w-11 tw-h-6 tw-bg-divider-grey-100;
		@apply hover:tw-bg-accent-grey-200;
		@apply peer-focus:tw-outline-none ;
		/*@apply peer-focus:tw-ring-4;*/
		@apply peer-focus:tw-accent-green-500 dark:peer-focus:tw-accent-green-500;
		@apply tw-rounded-full;
		@apply dark:tw-bg-gray-700 peer-checked:after:tw-translate-x-full;
		@apply rtl:peer-checked:after:tw--translate-x-full peer-checked:after:tw-border-accent-green-500;
		@apply after:tw-content-[''] after:tw-absolute after:tw-top-[2px] after:tw-start-[2px] after:tw-bg-white;
		@apply after:tw-border-accent-green-500 after:tw-border after:tw-rounded-full after:tw-h-5;
		@apply after:tw-w-5 after:tw-transition-all dark:tw-border-gray-600 peer-checked:tw-bg-accent-green-500;
	}

	.wcc_showcase-toggle-pro{
		@apply tw-relative tw-w-11 tw-h-6 tw-bg-pro-toggle-bg;
		@apply hover:tw-bg-pro-toggle-bg;
		@apply peer-focus:tw-outline-none ;
		/*@apply peer-focus:tw-ring-4;*/
		@apply peer-focus:tw-accent-green-500 dark:peer-focus:tw-accent-green-500;
		@apply tw-rounded-full;
		@apply dark:tw-bg-gray-700 peer-checked:after:tw-translate-x-full;
		@apply rtl:peer-checked:after:tw--translate-x-full peer-checked:after:tw-border-accent-green-500;
		@apply after:tw-content-[''] after:tw-absolute after:tw-top-[2px] after:tw-start-[2px] after:tw-text-white after:tw-bg-accent-orange-500 ;
		@apply after:tw-border-accent-green-500 after:tw-border after:tw-rounded-full after:tw-h-5;
		@apply after:tw-w-5 after:tw-transition-all dark:tw-border-gray-600 peer-checked:tw-bg-accent-green-500;
	}

	.wcc_showcase-toggle-small{
		@apply tw-relative tw-w-[28px] tw-h-4 tw-bg-divider-grey-100;
		@apply hover:tw-bg-accent-grey-200;
		@apply peer-focus:tw-outline-none ;
		/*@apply peer-focus:tw-ring-4;*/
		@apply peer-focus:tw-accent-green-500 dark:peer-focus:tw-accent-green-500;
		@apply tw-rounded-full;
		@apply dark:tw-bg-gray-700 peer-checked:after:tw-translate-x-full;
		@apply rtl:peer-checked:after:tw--translate-x-full peer-checked:after:tw-border-accent-green-500;
		@apply after:tw-content-[''] after:tw-absolute after:tw-top-[1.3px] after:tw-start-0 after:tw-bg-white;
		@apply after:tw-border-accent-green-500 after:tw-border after:tw-rounded-full after:tw-h-[13.33px];
		@apply after:tw-w-[13.33px] after:tw-transition-all dark:tw-border-gray-600 peer-checked:tw-bg-accent-green-500;
	}
}

/* Custom Styles */
@layer components {
	.wcc_showcase-tabs {
		@apply tw-no-underline tw-text-text-light-grey-500 hover:tw-text-fade-blue-600 tw-rounded-md tw-px-3 tw-py-2 tw-text-sm;
		@apply tw-font-medium tw-flex tw-justify-center tw-gap-1 tw-flex-auto;
	}
	.wcc_showcase-tabs-active {
		@apply tw-no-underline tw-bg-input-grey-50 tw-text-fade-blue-600 tw-rounded-md tw-px-3;
		@apply tw-py-2 tw-text-sm tw-font-medium tw-flex tw-justify-center tw-flex-auto tw-gap-1 !tw-shadow-none;
		@apply focus:tw-text-fade-blue-600 tw-outline-0;
		outline: none !important;
	}

	.wcc_showcase-border-active{
		@apply tw-border-accent-green-500 tw-border-2 tw-rounded-lg;
	}
	.wcc_showcase-settings-row{
		@apply tw-pb-4 tw-flex tw-justify-start tw-gap-32 tw-mt-3 sm:tw-flex-col sm:tw-gap-1;
	}
	.wcc_showcase-settings-row-title {
		@apply tw-flex tw-items-center tw-gap-1 tw-border-b !tw-border-divider-grey-100;
		border-bottom: 1px solid;
	}
	.wcc_showcase-settings-description{
		@apply tw-text-xs tw-font-normal tw-leading-4 tw-text-gray-400;
	}
	.wcc_showcase-settings-title{
		@apply tw-text-base tw-font-semibold tw-leading-6 tw-text-black;
	}

	.wcc_showcase-settings-field{
		@apply tw-w-60 !tw-bg-input-grey-50 !tw-border-divider-grey-100;
	}

	.wcc_showcase-settings-field-border{
		@apply !tw-border-divider-grey-100 !tw-rounded-md;
		border: 1px solid;
	}

	.wcc_showcase-layout-primary {
		@apply tw-text-text-light-grey-300 tw-p-2 tw-border tw-border-text-light-grey-300 tw-rounded-md tw-bg-white hover:tw-text-text-light-grey-500;
		border: 1px solid;
	}

	.wcc_showcase-layout-active {
		@apply tw-text-fade-blue-600 tw-p-2 tw-border !tw-border-accent-green-500 tw-rounded-md tw-bg-white tw-inner-border tw-inner-border-accent-green-500;
		border: 1px solid;
		/*box-sizing: border-box;*/
	}

	.wcc_showcase-layout-active-before-content {
		@apply before:tw-absolute before:tw-content-check-circle before:tw-text-sm before:tw-top-1 before:tw-left-5;
	}

	.wcc_showcase-layout-active-before-content-2 {
		@apply before:tw-absolute before:tw-content-check-circle before:tw-text-sm before:tw-top-1 before:tw-left-1;
	}

	.wcc_showcase-layout-active-before-content-3 {
		@apply before:tw-absolute before:tw-content-check-circle before:tw-text-sm before:tw-top-1 before:tw-left-2.5;
	}

	.wcc_showcase-layout-disable {
		@apply tw-text-text-light-grey-300 tw-p-2 tw-border tw-border-text-light-grey-300 tw-rounded-md tw-bg-white;
		border: 1px solid;
	}

	.wcc_showcase-layout-pro-before-content {
		@apply before:tw-absolute before:tw-content-pro-badge before:tw-text-sm before:tw-top-0 before:tw-right-4;
	}

	.wcc_showcase-layout-pro-before-content-2 {
		@apply before:tw-absolute before:tw-content-pro-badge before:tw-text-sm before:tw-top-0 before:tw-right-0;
	}

	.wcc_showcase-layout-pro-before-content-3 {
		@apply before:tw-absolute before:tw-content-pro-badge before:tw-text-sm before:tw-top-0 before:tw-right-2;
	}

	.wcc_showcase-category-list-item {
		@apply tw-mt-1 tw-border !tw-border-divider-grey-100 tw-rounded tw-bg-input-grey-50;
		border: 1px solid;
	}

	.wcc_showcase-custom-border{
		@apply !tw-border-divider-grey-100;
		border-bottom: 1px solid;
	}

	.wcc_showcase-custom-border-top{
		@apply !tw-border-divider-grey-100;
		border-top: 1px solid;
	}

	.wcc_showcase-group-button {
		@apply tw-relative tw-flex tw-justify-center tw-gap-1 tw-items-center tw-rounded-md;
		@apply tw-px-3 tw-py-2 tw-text-sm tw-font-semibold;
		@apply tw-text-text-grey-500 hover:tw-bg-divider-grey-100 hover:tw-text-fade-blue-600 focus:tw-z-10;
	}

	.wcc_showcase-group-button-active{
		@apply tw-relative tw-flex tw-justify-center tw-gap-1 tw-items-center tw-rounded-md;
		@apply tw-px-3 tw-py-2 tw-text-sm tw-font-semibold;
		@apply tw-text-text-grey-500 focus:tw-z-10;
		@apply tw-bg-white tw-text-fade-blue-600;
	}

	.wcc_showcase-group-button-active-icon{
		@apply tw-text-fade-blue-600;
	}

	.wcc_showcase-group-button-icon{
		@apply tw-text-text-grey-500 hover:tw-text-fade-blue-600;
	}

	.wcc_showcase-column-breakpoint {
		@apply tw-flex tw-w-60 tw-h-9 !tw-bg-input-grey-50 !tw-border-divider-grey-100;
	}
	.wcc_showcase-column-breakpoint-inner {
		@apply tw-w-36 tw-flex tw-gap-2 tw-items-center tw-px-3 tw-text-gray-900;
		@apply tw-bg-gray-200 tw-border;
		@apply tw-border-gray-300 tw-border-e-0;
		@apply tw-rounded-s-md dark:tw-bg-gray-600 dark:tw-text-gray-400 dark:tw-border-gray-600;
	}

	.wcc_showcase-column-breakpoint-inner-input {
		@apply !tw-bg-input-grey-50 !tw-border-divider-grey-100 tw-rounded-none tw-rounded-e-lg tw-border;
		@apply tw-text-gray-900 focus:tw-ring-blue-500 focus:tw-border-blue-500 tw-block tw-flex-1 tw-min-w-0 tw-w-full;
		@apply tw-text-sm tw-p-2.5  dark:tw-bg-gray-700 dark:tw-border-gray-600 dark:tw-placeholder-gray-400;
		@apply dark:tw-text-white dark:focus:tw-ring-blue-500 dark:focus:tw-border-blue-500;
	}

	.wcc_showcase-upload-button {
		@apply tw-text-fade-blue-600 tw-no-underline tw-flex tw-p-1 tw-bg-white tw-absolute tw-border !tw-border-divider-grey-100 tw-top-2 tw-right-2 tw-rounded-md;
		border: 1px solid;
	}


	/*Showcase Tab css*/
	.wcc_showcase-button-border-top{
		border-top: 1px solid;
	}

	h3{
		margin-bottom: 8px !important;
	}

	/*Font tab*/

	.wcc_showcase-font-tag-select{
		@apply tw-bg-white tw-text-center tw-py-2 tw-rounded-md tw-w-[41px] tw-font-bold tw-text-text-grey-500;
		@apply hover:tw-border-fade-blue-600 tw-rounded-md hover:tw-text-fade-blue-600;
		border: 2px solid #E2E8F0;
		cursor: pointer;
		margin: 0;
	}
	.wcc_showcase-font-tag-select.active{
		@apply !tw-border-fade-blue-600 tw-text-fade-blue-600;
	}

	.wcc_showcase-font-design-select{
		@apply tw-bg-white tw-text-center tw-pt-2 tw-rounded-md tw-w-[41px] tw-text-text-grey-500;
		@apply hover:tw-border-fade-blue-600 tw-rounded-md hover:tw-text-fade-blue-600;
		border: 2px solid #E2E8F0;
		cursor: pointer;
		margin: 0;
	}
	.wcc_showcase-font-design-select.active{
		@apply !tw-border-fade-blue-600 tw-text-fade-blue-600;
	}
}
