{
	"extends": [
		"plugin:@wordpress/eslint-plugin/recommended",
		"prettier"
	],
	"rules": {
		"@wordpress/i18n-translator-comments": "warn",
		"@wordpress/valid-sprintf": "warn",
		"jsdoc/check-tag-names": [
			"error",
			{ "definedTags": [ "jest-environment" ] }
		],
		"jest/no-deprecated-functions": "warn",
		"@wordpress/dependency-group": "error",
		"@wordpress/no-unsafe-wp-apis": "warn",
		"jest/valid-title": "warn",
		"@wordpress/no-global-active-element": "warn",
		"radix": "error",
		"yoda": [ "error", "never" ],
		"import/no-unresolved": [
			2,
			{
				"ignore": [
					"^@wordpress/",
					"^@byteever/"
				]
			}
		],
		"import/no-extraneous-dependencies": 0,
		"no-console": 0
	},
	"plugins": [ "@wordpress", "import" ],
	"globals": {
		"ajaxurl": true,
		"document": true,
		"jQuery": true,
		"lodash": true,
		"module": true,
		"process": true,
		"window": true,
		"wp": "readonly"
	}
}
