.plvr fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
}

.plvr legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.plvr label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.plvr input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.plvr input[type="radio"],
.plvr input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}

.plvr input[type="file"] {
    display: block;
}

.plvr input[type="range"] {
    display: block;
    width: 100%;
}

.plvr select[multiple],
.plvr select[size] {
    height: auto;
}

.plvr input[type="file"]:focus,
.plvr input[type="radio"]:focus,
.plvr input[type="checkbox"]:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.plvr output {
    display: block;
    padding-top: 7px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
}

.plvr .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.plvr .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.plvr .form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.plvr .form-control:-ms-input-placeholder {
    color: #999;
}

.plvr .form-control::-webkit-input-placeholder {
    color: #999;
}

.plvr .form-control::-ms-expand {
    border: 0;
    background-color: transparent;
}

.plvr .form-control[disabled], .plvr .form-control[readonly], fieldset[disabled] .plvr .form-control {
    background-color: #eeeeee;
    opacity: 1;
}

.plvr .form-control[disabled], fieldset[disabled] .plvr .form-control {
    cursor: not-allowed;
}

.plvr textarea.form-control {
    height: auto;
}

.plvr input[type="search"] {
    -webkit-appearance: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .plvr input[type="date"].form-control,
    .plvr input[type="time"].form-control,
    .plvr input[type="datetime-local"].form-control,
    .plvr input[type="month"].form-control {
        line-height: 34px;
    }

    .plvr input[type="date"].input-sm, .input-group-sm .plvr input[type="date"],
    .plvr input[type="time"].input-sm, .input-group-sm
    .plvr input[type="time"],
    .plvr input[type="datetime-local"].input-sm, .input-group-sm
    .plvr input[type="datetime-local"],
    .plvr input[type="month"].input-sm, .input-group-sm
    .plvr input[type="month"] {
        line-height: 30px;
    }

    .plvr input[type="date"].input-lg, .input-group-lg .plvr input[type="date"],
    .plvr input[type="time"].input-lg, .input-group-lg
    .plvr input[type="time"],
    .plvr input[type="datetime-local"].input-lg, .input-group-lg
    .plvr input[type="datetime-local"],
    .plvr input[type="month"].input-lg, .input-group-lg
    .plvr input[type="month"] {
        line-height: 46px;
    }
}

.plvr .form-group {
    margin-bottom: 15px;
}

.plvr .radio,
.plvr .checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.plvr .radio label,
.plvr .checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}

.plvr .radio input[type="radio"],
.plvr .radio-inline input[type="radio"],
.plvr .checkbox input[type="checkbox"],
.plvr .checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px \9;
}

.plvr .radio + .radio,
.plvr .checkbox + .checkbox {
    margin-top: -5px;
}

.plvr .radio-inline,
.plvr .checkbox-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer;
}

.plvr .radio-inline + .radio-inline,
.plvr .checkbox-inline + .checkbox-inline {
    margin-top: 0;
    margin-left: 10px;
}

.plvr input[type="radio"][disabled], .plvr input[type="radio"].disabled, fieldset[disabled] .plvr input[type="radio"],
.plvr input[type="checkbox"][disabled],
.plvr input[type="checkbox"].disabled, fieldset[disabled]
.plvr input[type="checkbox"] {
    cursor: not-allowed;
}

.plvr .radio-inline.disabled, fieldset[disabled] .plvr .radio-inline,
.plvr .checkbox-inline.disabled, fieldset[disabled]
.plvr .checkbox-inline {
    cursor: not-allowed;
}

.plvr .radio.disabled label, fieldset[disabled] .plvr .radio label,
.plvr .checkbox.disabled label, fieldset[disabled]
.plvr .checkbox label {
    cursor: not-allowed;
}

.plvr .form-control-static {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 0;
    min-height: 34px;
}

.plvr .form-control-static.input-lg, .plvr .form-control-static.input-sm {
    padding-left: 0;
    padding-right: 0;
}

.plvr .input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.plvr select.input-sm {
    height: 30px;
    line-height: 30px;
}

.plvr textarea.input-sm,
.plvr select[multiple].input-sm {
    height: auto;
}

.plvr .form-group-sm .form-control {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.plvr .form-group-sm select.form-control {
    height: 30px;
    line-height: 30px;
}

.plvr .form-group-sm textarea.form-control,
.plvr .form-group-sm select[multiple].form-control {
    height: auto;
}

.plvr .form-group-sm .form-control-static {
    height: 30px;
    min-height: 32px;
    padding: 6px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.plvr .input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33333;
    border-radius: 6px;
}

.plvr select.input-lg {
    height: 46px;
    line-height: 46px;
}

.plvr textarea.input-lg,
.plvr select[multiple].input-lg {
    height: auto;
}

.plvr .form-group-lg .form-control {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33333;
    border-radius: 6px;
}

.plvr .form-group-lg select.form-control {
    height: 46px;
    line-height: 46px;
}

.plvr .form-group-lg textarea.form-control,
.plvr .form-group-lg select[multiple].form-control {
    height: auto;
}

.plvr .form-group-lg .form-control-static {
    height: 46px;
    min-height: 38px;
    padding: 11px 16px;
    font-size: 18px;
    line-height: 1.33333;
}

.plvr .has-feedback {
    position: relative;
}

.plvr .has-feedback .form-control {
    padding-right: 42.5px;
}

.plvr .form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}

.plvr .input-lg + .form-control-feedback,
.plvr .input-group-lg + .form-control-feedback,
.plvr .form-group-lg .form-control + .form-control-feedback {
    width: 46px;
    height: 46px;
    line-height: 46px;
}

.plvr .input-sm + .form-control-feedback,
.plvr .input-group-sm + .form-control-feedback,
.plvr .form-group-sm .form-control + .form-control-feedback {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.plvr .has-success .help-block,
.plvr .has-success .control-label,
.plvr .has-success .radio,
.plvr .has-success .checkbox,
.plvr .has-success .radio-inline,
.plvr .has-success .checkbox-inline, .plvr .has-success.radio label, .plvr .has-success.checkbox label, .plvr .has-success.radio-inline label, .plvr .has-success.checkbox-inline label {
    color: #3c763d;
}

.plvr .has-success .form-control {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.plvr .has-success .form-control:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}

.plvr .has-success .input-group-addon {
    color: #3c763d;
    border-color: #3c763d;
    background-color: #dff0d8;
}

.plvr .has-success .form-control-feedback {
    color: #3c763d;
}

.plvr .has-warning .help-block,
.plvr .has-warning .control-label,
.plvr .has-warning .radio,
.plvr .has-warning .checkbox,
.plvr .has-warning .radio-inline,
.plvr .has-warning .checkbox-inline, .plvr .has-warning.radio label, .plvr .has-warning.checkbox label, .plvr .has-warning.radio-inline label, .plvr .has-warning.checkbox-inline label {
    color: #8a6d3b;
}

.plvr .has-warning .form-control {
    border-color: #8a6d3b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.plvr .has-warning .form-control:focus {
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}

.plvr .has-warning .input-group-addon {
    color: #8a6d3b;
    border-color: #8a6d3b;
    background-color: #fcf8e3;
}

.plvr .has-warning .form-control-feedback {
    color: #8a6d3b;
}

.plvr .has-error .help-block,
.plvr .has-error .control-label,
.plvr .has-error .radio,
.plvr .has-error .checkbox,
.plvr .has-error .radio-inline,
.plvr .has-error .checkbox-inline, .plvr .has-error.radio label, .plvr .has-error.checkbox label, .plvr .has-error.radio-inline label, .plvr .has-error.checkbox-inline label {
    color: #a94442;
}

.plvr .has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.plvr .has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.plvr .has-error .input-group-addon {
    color: #a94442;
    border-color: #a94442;
    background-color: #f2dede;
}

.plvr .has-error .form-control-feedback {
    color: #a94442;
}

.plvr .has-feedback label ~ .form-control-feedback {
    top: 25px;
}

.plvr .has-feedback label.sr-only ~ .form-control-feedback {
    top: 0;
}

.plvr .help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

@media (min-width: 768px) {
    .plvr .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .plvr .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }

    .plvr .form-inline .form-control-static {
        display: inline-block;
    }

    .plvr .form-inline .input-group {
        display: inline-table;
        vertical-align: middle;
    }

    .plvr .form-inline .input-group .input-group-addon,
    .plvr .form-inline .input-group .input-group-btn,
    .plvr .form-inline .input-group .form-control {
        width: auto;
    }

    .plvr .form-inline .input-group > .form-control {
        width: 100%;
    }

    .plvr .form-inline .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }

    .plvr .form-inline .radio,
    .plvr .form-inline .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .plvr .form-inline .radio label,
    .plvr .form-inline .checkbox label {
        padding-left: 0;
    }

    .plvr .form-inline .radio input[type="radio"],
    .plvr .form-inline .checkbox input[type="checkbox"] {
        position: relative;
        margin-left: 0;
    }

    .plvr .form-inline .has-feedback .form-control-feedback {
        top: 0;
    }
}

.plvr .form-horizontal .radio,
.plvr .form-horizontal .checkbox,
.plvr .form-horizontal .radio-inline,
.plvr .form-horizontal .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
}

.plvr .form-horizontal .radio,
.plvr .form-horizontal .checkbox {
    min-height: 27px;
}

.plvr .form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}

.plvr .form-horizontal .form-group:before, .plvr .form-horizontal .form-group:after {
    content: " ";
    display: table;
}

.plvr .form-horizontal .form-group:after {
    clear: both;
}

@media (min-width: 768px) {
    .plvr .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 7px;
    }
}

.plvr .form-horizontal .has-feedback .form-control-feedback {
    right: 15px;
}

@media (min-width: 768px) {
    .plvr .form-horizontal .form-group-lg .control-label {
        padding-top: 11px;
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .plvr .form-horizontal .form-group-sm .control-label {
        padding-top: 6px;
        font-size: 12px;
    }
}
