//@import "../../../../assets/css/sass/grid/gridlex";
@import "form";
@import "alpha-color-picker";
.wccs-admin-builder{
    margin: 0 auto;

    * {
        box-sizing: border-box;
    }


    img{
        max-width: 100%;
        height: auto !important;
        max-height: 100% !important;
    }


    .featured-categories{
        display: block;
        overflow: hidden;
        &-list{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                display: inline-block;
                float: left;
                width: 220px;
                height: 275px;
                position: relative;
                border: 1px solid #ddd;
                padding: 5px;
                margin-left: 10px;
                margin-bottom: 10px;


                img{
                    width: 100%;
                    height: auto;
                }
                .category-details{
                    position: absolute;
                    width: 80%;
                    text-align: center;
                    top:50%;
                    left: 50%;
                    transform: translate( -50%, -50%);
                    background-color: rgba(00,00,00,0.2);
                    color: #fff;
                    padding: 10px;

                    .category-name{
                        display: block;
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                }

                .tool-link {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    text-decoration: none;
                    color: red;

                    &-settings{
                        left: 10px;
                    }

                    &-edit{
                        right: 10px;
                        left: auto;
                    }
                }


                &.add-new-slide{
                    text-align: center;
                    .tools {
                        position: absolute;
                        width: 94%;
                        top: 50%;
                        left: 3%;
                        right: 0;
                        text-align: center;
                        transform: translate(0,-50%);
                    }

                    .ajax-loading-icon {
                        display: none;
                    }

                    &.adding-item{
                        .tools{
                            display: none;
                        }

                        .ajax-loading-icon {
                            width: 25px !important;
                            height: 25px !important;
                            display: block;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                    }
                }

            }
        }
    }

    .additional-categories{
        display: block;
        overflow: hidden;
        ul{
            li{
                width: 200px;
                height: 200px;

                &.add-new-slide{
                    text-align: center;
                    .tools {
                        position: absolute;
                        width: 94%;
                        top: 50%;
                        left: 3%;
                        right: 0;
                        text-align: center;
                        transform: translate(0,-50%);
                    }

                    &.adding-item{
                        .tools{
                            display: none;
                        }

                    }

                }
            }
        }
    }


    //utility
    .pl-10{
        padding-left: 10px;
    }
    .m-0{
        margin: 0;
    }
    .mb-0{
        margin-bottom: 0;
    }
    .maxw-200{
        max-width: 200px;
    }
}

.wccs-modal-window{
    .category-image-wrp{
        height: 150px;
        .category-image{
            max-height: 100%;
            width: auto;
        }
    }
    label{
        display: block;
        clear: both;
    }
    .wp-picker-container{
        //display: block;
    }
}
