// Slider style.
.is-layout__slider{
	.splide__track{
		height: 300px;
	}
	.wccs-content__bottom{
		display: flex;
		flex-direction: column;
	}
	.wccs-content__top{
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
	}
	.wccs-content__left{
		display: flex;
		flex-direction: row-reverse;
		.wcc-showcase-slide-item__cat-thumbnails{
			width: 100%;
			.wcc-showcase-slide-item__cat-thumbnails__image,
			img{
				height: 100% !important;
			}
		}
		.wcc-showcase-slide-item__cat-details{
			width: 100%;
		}
	}
	.wccs-content__right{
		display: flex;
		flex-direction: row;
		.wcc-showcase-slide-item__cat-thumbnails{
			width: 100%;
			.wcc-showcase-slide-item__cat-thumbnails__image,
			img{
				height: 100% !important;
			}
		}
		.wcc-showcase-slide-item__cat-details{
			width: 100%;
		}
	}
	.wccs-content__overlay{
		position: relative;
		background-repeat: no-repeat!important;
		background-position: center center!important;
		background-size: cover;
		.has-no-image,
		.has-image{
			height: 100%;
		}
		.wcc-showcase-slide-item__cat-thumbnails{
			height: 100%;
			.wcc-showcase-slide-item__cat-thumbnails__image,
			img{
				width: auto;
				margin: 0 auto;
				border-radius: 0;
			}
		}
		.wcc-showcase-slide-item__cat-details{
			position: absolute;
			display: flex;
			flex-wrap: wrap;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			//background-color: rgba(0, 0, 0, 0.5);
			&.has-no-image{
				position: inherit;
				height: 100%;
			}
		}

		// Content placement style.
		.wccs-content-position__top_left{
			text-align: left;
			align-items: flex-start;
			justify-content: flex-start;
		}
		.wccs-content-position__top_right{
			text-align: right;
			justify-content: flex-end;
			align-content: flex-start;
			align-items: flex-end;
		}
		.wccs-content-position__top_center{
			text-align: center;
			justify-content: center;
			align-content: flex-start;
			align-items: center;
		}
		.wccs-content-position__center_left{
			text-align: left;
			justify-content: flex-start;
			align-items: flex-start;
			align-content: center;
		}
		.wccs-content-position__center_right{
			text-align: right;
			justify-content: flex-end;
			align-items: flex-end;
			align-content: center;
		}
		.wccs-content-position__center_center{
			text-align: center;
			justify-content: center;
			align-content: center;
		}
		.wccs-content-position__bottom_left{
			text-align: left;
			justify-content: flex-start;
			align-items: flex-start;
			align-content: flex-end;
		}
		.wccs-content-position__bottom_right{
			text-align: right;
			justify-content: flex-end;
			align-items: flex-end;
		}
		.wccs-content-position__bottom_center{
			text-align: center;
			justify-content: center;
			align-content: flex-end;
			align-items: center;
		}
	}
	.wccs-content__top,
	.wccs-content__bottom,
	.wccs-content__left,
	.wccs-content__right{
		background-repeat: no-repeat !important;
		background-position: center center !important;
	}

	// Card details style.
	.wccs-entry__content-inner{
		//padding: 1rem;
	}
	.wcc-showcase-slide-item__cat-thumbnails__icon{
		img{
			display: inherit;
		}
	}

	// Pagination style.
	.is--pagination-only-dashes{
		.splide__pagination{
			&__page{
				width: 30px;
				border-radius: 10px;
				&.is-active{
					margin: 0 8px;
				}
			}
		}
	}
	.is--pagination-dash-with-dots{
		.splide__pagination{
			&__page{
				&.is-active{
					width: 30px;
					border-radius: 10px;
					margin: 0 8px;
				}
			}
		}
	}
}

// If slider has additional categories.
.slider-has-additional-categories {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	.splide {
		width:100%;
		max-width: calc(40% - 1rem);
	}
	.wccs-additional-categories{
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		width: 100%;
		max-width: calc(60% - 1rem);
		.wccs-category{
			width: calc(33.33% - 1rem);
		}
	}
	.wccs-categories_1{
		.wccs-category{
			width: calc(100% - 1rem) !important;
		}
	}
	.wccs-categories_2{
		.wccs-category{
			width: calc(50% - 1rem) !important;
		}
	}
}

.is-layout__slider .wccs-additional-categories .wccs-content__bottom {
	justify-content: center;
}
