// Global section style.
.wccs-section {
	border: 1px solid red;
	.wccs-section__header{
		&.text-left{
			text-align: left;
		}
		&.text-center{
			text-align: center;
		}
		&.text-right{
			text-align: right;
		}
	}

	// Layout specific style.
	&.is-layout__block {
		border: 1px solid green;
	}
	&.is-layout__grid {
		border: 1px solid black;
	}
	&.is-layout__slide {
		border: 1px solid blue;
	}
}

// Single category/card style
.wccs-section__body{
	.wccs-category{
		// common style for every single card item
		&.wccs-content__bottom{
			display: flex;
			flex-direction: column;
		}
		&.wccs-content__top{
			display: flex;
			flex-direction: column-reverse;
		}
		&.wccs-content__right{
			display: flex;
			flex-direction: row;
		}
		&.wccs-content__left{
			display: flex;
			flex-direction: row-reverse;
		}
		&.wccs-content__overly{
			position: relative;
		}
	}
	.wccs-entry__head{
		img{
			width: 100%;
			height: auto;
			border: 1px solid red;
		}
	}
}




// Layout style: Block.
.is-layout__block {
	.wccs-categories {
		display: grid;
		gap: 1.25rem;
		grid-template-columns: repeat(1, 1fr);
		.wccs-category{
			// common style for every single card item
		}
		&.column__x2{
			grid-template-columns: repeat(2, 1fr);
		}
		&.column__x3{
			grid-template-columns: repeat(3, 1fr);
		}
		&.column__x4{
			grid-template-columns: repeat(4, 1fr);
		}
		&.column__x5{
			grid-template-columns: repeat(5, 1fr);
		}
		&.column__x6{
			grid-template-columns: repeat(6, 1fr);
		}
	}
	@media (max-width: 768px) {
		.wccs-categories {
			gap: 1rem;
			grid-template-columns: repeat(2, 1fr);
		}
	}
	@media (max-width: 776px) {
		.wccs-categories {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
