// Layout style: Grid.
.is-layout__grid {
	.wccs-categories {
		display: grid;
		gap: 1.25rem;
		grid-template-columns: repeat(1, 1fr);
		.wccs-category{
			// Common style for every single category item.
		}

		// Grid layout options for 2x.
		&.simple_1x2{
			grid-template-columns: repeat(3, 1fr);
			.wccs-category:nth-child(1) {
				grid-column: 1 / span 2;
			}
		}
		&.simple_2x2{
			grid-template-columns: repeat(3, 1fr);
			.wccs-category:nth-child(2) {
				grid-column: 2 / span 2;
			}
		}
		// Grid layout options for 3x.
		&.simple_1x3{
			grid-template-columns: repeat(4, 1fr);
			.wccs-category:nth-child(1) {
				grid-column: 1 / span 2;
			}
		}
		&.simple_2x3{
			grid-template-columns: repeat(4, 1fr);
			.wccs-category:nth-child(3) {
				grid-column: 3 / span 2;
			}
		}
		&.standard_1x3{
			grid-template-columns: repeat(2, 1fr);
			.wccs-category:nth-child(1) {
				grid-row: 1 / span 2;
			}
		}
		&.standard_2x3{
			grid-template-columns: repeat(2, 1fr);
			.wccs-category:nth-child(2) {
				grid-row: 1 / span 2;
				grid-column: 2 / span 2;
			}
		}
		&.cross_1x3{
			grid-template-columns: repeat(2, 1fr);
			.wccs-category:nth-child(1) {
				grid-column: 1 / span 2;
			}
		}
		&.cross_2x3{
			grid-template-columns: repeat(2, 1fr);
			.wccs-category:nth-child(3) {
				grid-column: 1 / span 2;
			}
		}
		// Grid layout options for 4x.
		&.crescent_1x4{
			grid-template-columns: repeat(3, 1fr);
			.wccs-category:nth-child(2) {
				grid-column: 2 / span 2;
			}
			.wccs-category:nth-child(4) {
				grid-column: 2 / span 2;
			}
		}
		&.crescent_2x4{
			grid-template-columns: repeat(3, 1fr);
			.wccs-category:nth-child(1) {
				grid-column: 1 / span 2;
			}
			.wccs-category:nth-child(3) {
				grid-column: 1 / span 2;
			}
		}
		&.zen_1x4{
			grid-template-columns: repeat(3, 1fr);
			.wccs-category:nth-child(2) {
				grid-column: 2 / span 2;
			}
			.wccs-category:nth-child(3) {
				grid-column: 1 / span 2;
			}
		}
		&.zen_2x4{
			grid-template-columns: repeat(3, 1fr);
			.wccs-category:nth-child(1) {
				grid-column: 1 / span 2;
			}
			.wccs-category:nth-child(4) {
				grid-column: 2 / span 2;
			}
		}
		&.catalog_1x4{
			grid-template-columns: repeat(3, 1fr);
			.wccs-category:nth-child(1) {
				grid-column: 1 / span 2;
				grid-row: 1 / span 3;
			}
		}
		&.catalog_2x4{
			grid-template-columns: repeat(3, 1fr);
			.wccs-category:nth-child(2) {
				grid-column: 2 / span 2;
				grid-row: 1 / span 3;
			}
		}
		&.catalog_3x4{
			grid-template-columns: repeat(3, 1fr);
			.wccs-category:nth-child(1) {
				grid-column: 1 / span 3;
			}
		}
		&.catalog_4x4{
			grid-template-columns: repeat(3, 1fr);
			.wccs-category:nth-child(4) {
				grid-column: 1 / span 3;
			}
		}
		&.matrix_1x4{
			grid-template-columns: repeat(4, 1fr);
			.wccs-category:nth-child(1) {
				grid-row: span 2;
			}
			.wccs-category:nth-child(2) {
				grid-row: span 2;
			}
			.wccs-category:nth-child(3) {
				grid-column: span 2;
			}
			.wccs-category:nth-child(4) {
				grid-column: span 2;
			}
		}
		&.matrix_2x4{
			grid-template-columns: repeat(4, 1fr);
			.wccs-category:nth-child(1) {
				grid-column: span 2;
			}
			.wccs-category:nth-child(2) {
				grid-row: span 2;
			}
			.wccs-category:nth-child(3) {
				grid-row: span 2;
			}
			.wccs-category:nth-child(4) {
				grid-column: span 2;
			}
		}
		&.matrix_3x4{
			grid-template-columns: repeat(3, 1fr);
			.wccs-category:nth-child(1) {
				grid-row: span 2;
			}
			.wccs-category:nth-child(3) {
				grid-row: span 2;
			}
		}
		&.matrix_4x4{
			grid-template-columns: repeat(3, 1fr);
			.wccs-category:nth-child(1) {
				grid-row: span 2;
			}
			.wccs-category:nth-child(2) {
				grid-row: span 2;
			}
		}
		&.matrix_5x4{
			grid-template-columns: repeat(3, 1fr);
			.wccs-category:nth-child(2) {
				grid-row: span 2;
			}
			.wccs-category:nth-child(3) {
				grid-row: span 2;
			}
		}
		&.mystic_1x4{
			grid-template-columns: repeat(4, 1fr);
			.wccs-category:nth-child(1) {
				grid-column: span 2;
				grid-row: span 2;
			}
			.wccs-category:nth-child(2) {
				grid-column: span 2;
			}
		}
		&.mystic_2x4{
			grid-template-columns: repeat(4, 1fr);
			.wccs-category:nth-child(1) {
				grid-column: span 2;
			}
			.wccs-category:nth-child(2) {
				grid-column: span 2;
				grid-row: span 2;
			}
		}
		&.mystic_3x4{
			grid-template-columns: repeat(4, 1fr);
			.wccs-category:nth-child(1) {
				grid-column: span 2;
				grid-row: span 2;
			}
			.wccs-category:nth-child(2) {
				grid-row: span 2;
			}
		}
		&.mystic_4x4{
			grid-template-columns: repeat(4, 1fr);
			.wccs-category:nth-child(2) {
				grid-row: span 2;
			}
			.wccs-category:nth-child(3) {
				grid-column: span 2;
				grid-row: span 2;
			}
		}
		// Grid layout options for 5x.
		&.catalog_1x5{
			grid-template-columns: repeat(4, 1fr);
			.wccs-category:nth-child(1) {
				grid-column: span 4;
			}
		}
		&.catalog_2x5{
			grid-template-columns: repeat(4, 1fr);
			.wccs-category:nth-child(5) {
				grid-column: span 4;
			}
		}
		&.schema_1x5{
			grid-template-columns: repeat(2, 1fr);
			.wccs-category:nth-child(1) {
				grid-column: span 2;
			}
		}
		&.schema_2x5{
			grid-template-columns: repeat(2, 1fr);
			.wccs-category:nth-child(5) {
				grid-column: span 2;
			}
		}
		&.modern_1x5{
			grid-template-columns: repeat(3, 1fr);
			.wccs-category:nth-child(1) {
				grid-row: span 2;
			}
		}
		&.modern_2x5{
			grid-template-columns: repeat(3, 1fr);
			.wccs-category:nth-child(3) {
				grid-row: span 2;
			}
		}
		&.modern_3x5{
			grid-template-columns: repeat(3, 1fr);
			.wccs-category:nth-child(2) {
				grid-row: span 2;
			}
		}
		// Grid layout options for 6x.
		&.catalog_1x6{
			grid-template-columns: repeat(4, 1fr);
			.wccs-category:nth-child(3) {
				grid-column: span 2;
			}
			.wccs-category:nth-child(4) {
				grid-column: span 2;
			}
		}
		&.catalog_2x6{
			grid-template-columns: repeat(4, 1fr);
			.wccs-category:nth-child(1) {
				grid-column: span 2;
			}
			.wccs-category:nth-child(6) {
				grid-column: span 2;
			}
		}
		&.matrix_1x6{
			grid-template-columns: repeat(4, 1fr);
			.wccs-category:nth-child(1) {
				grid-column: span 2;
			}
			.wccs-category:nth-child(4) {
				grid-column: span 2;
			}
		}
		&.matrix_2x6{
			grid-template-columns: repeat(4, 1fr);
			.wccs-category:nth-child(3) {
				grid-column: span 2;
			}
			.wccs-category:nth-child(6) {
				grid-column: span 2;
			}
		}
		&.zen_1x6{
			grid-template-columns: repeat(4, 1fr);
			.wccs-category:nth-child(2) {
				grid-column: span 2;
			}
			.wccs-category:nth-child(5) {
				grid-column: span 2;
			}
		}
		&.zen_2x6{
			grid-template-columns: repeat(4, 1fr);
			.wccs-category:nth-child(1) {
				grid-row: span 2;
			}
			.wccs-category:nth-child(2) {
				grid-row: span 2;
			}
		}
		&.zen_3x6{
			grid-template-columns: repeat(4, 1fr);
			.wccs-category:nth-child(3) {
				grid-row: span 2;
			}
			.wccs-category:nth-child(4) {
				grid-row: span 2;
			}
		}
		// Grid layout options for 7x.
		&.catalog_1x7{
			grid-template-columns: repeat(5, 1fr);
			.wccs-category:nth-child(1) {
				grid-column: span 2;
				grid-row: span 2;
			}
		}
		&.catalog_2x7{
			grid-template-columns: repeat(5, 1fr);
			.wccs-category:nth-child(4) {
				grid-column: span 2;
				grid-row: span 2;
			}
		}
		&.helix_1x7{
			grid-template-columns: repeat(5, 1fr);
			.wccs-category:nth-child(1) {
				grid-column: span 3;
				grid-row: span 2;
			}
			.wccs-category:nth-child(6) {
				grid-column: span 3;
			}
			.wccs-category:nth-child(7) {
				grid-column: span 2;
			}
		}
		&.helix_2x7{
			grid-template-columns: repeat(5, 1fr);
			.wccs-category:nth-child(1) {
				grid-column: span 3;
				grid-row: span 2;
			}
			.wccs-category:nth-child(2) {
				grid-column: span 2;
			}
			.wccs-category:nth-child(5) {
				grid-column: span 3;
			}
		}
	}
	@media (max-width: 768px) {
		.wccs-categories {
			gap: 1rem;
		}
	}
	@media (max-width: 776px) {
		.wccs-categories {}
	}
}

// Single category/card style: Grid.
.is-layout__grid{
	.wccs-category{
		display: flex;
		background-size: cover!important;
		background-repeat: no-repeat!important;
		background-position: center center!important;

		.wccs-entry__content {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			width: 100%;
			height: 100%;
			background: rgb(0, 0, 0, 0.3);
			transition: .3s;
			&.wccs-content-position__top_left{
				text-align: left;
				align-items: flex-start;
				justify-content: flex-start;
			}
			&.wccs-content-position__top_right{
				text-align: right;
				justify-content: flex-start;
				align-items: flex-end;
			}
			&.wccs-content-position__top_center{
				text-align: center;
				justify-content: flex-start;
				align-content: center;
				align-items: center;
			}
			&.wccs-content-position__center_left{
				text-align: left;
				justify-content: center;
				align-items: flex-start;
			}
			&.wccs-content-position__center_right{
				text-align: right;
				justify-content: center;
				align-items: flex-end;
			}
			&.wccs-content-position__center_center{
				text-align: center;
				justify-content: center;
				align-content: center;
			}
			&.wccs-content-position__bottom_left{
				text-align: left;
				justify-content: flex-end;
				align-items: flex-start;
			}
			&.wccs-content-position__bottom_right{
				text-align: right;
				justify-content: flex-end;
				align-items: flex-end;
			}
			&.wccs-content-position__bottom_center{
				text-align: center;
				justify-content: flex-end;
				align-content: center;
				align-items: center;
			}
			.wccs-entry__content-inner{
				padding: 1rem;
			}
			&:hover{
				background: rgb(0, 0, 0, 0);
			}
		}
	}
}
