// Global section style.
.wccs-section {
	.text-left{
		text-align: left;
	}
	.text-center{
		text-align: center;
	}
	.text-right{
		text-align: right;
	}
	.wccs-section__header{
		padding: 1rem 0;
	}

	// Layout specific style.
	&.is-layout__block {
		// do something for block
	}
	&.is-layout__grid {
		// do something for grid
	}
	&.is-layout__slide {
		// do something for slide
	}
}

// Global category card style.
.wccs-category{
	.wccs-entry__head{

	}
	.wccs-entry__content{
		padding: 0.625rem;
	}
	.wccs-subcategory__items{
		margin: 0 0 1.41575rem;
		.wccs-subcategory__item{
			list-style: none;
		}
		a{
			text-decoration: none;
		}
	}
}

// Content position overly, card style.
.wccs-content__overlay{
	.wccs-entry__content {
		&.wccs-content-position__top_left{
			text-align: left;
			align-items: flex-start;
			justify-content: flex-start;
		}
		&.wccs-content-position__top_right{
			text-align: right;
			justify-content: flex-start;
			align-items: flex-end;
		}
		&.wccs-content-position__top_center{
			text-align: center;
			justify-content: flex-start;
			align-content: center;
			align-items: center;
		}
		&.wccs-content-position__center_left{
			text-align: left;
			justify-content: center;
			align-items: flex-start;
		}
		&.wccs-content-position__center_right{
			text-align: right;
			justify-content: center;
			align-items: flex-end;
		}
		&.wccs-content-position__center_center{
			text-align: center;
			justify-content: center;
			align-content: center;
		}
		&.wccs-content-position__bottom_left{
			text-align: left;
			justify-content: flex-end;
			align-items: flex-start;
		}
		&.wccs-content-position__bottom_right{
			text-align: right;
			justify-content: flex-end;
			align-items: flex-end;
		}
		&.wccs-content-position__bottom_center{
			text-align: center;
			justify-content: flex-end;
			align-content: center;
			align-items: center;
		}
	}
}

// Showcase button global style.
.wccs-showcase-btn{
	border: 1px solid #130F31;
	color: #020617;
	text-decoration: none!important;
	padding: 10px 20px;
	display: inline-block;
}
