@import "~@splidejs/splide/dist/css/splide.min.css";
@import "showcase-block";
@import "showcase-grid";

.wcc-showcase-slider{
	margin-bottom: 1.5rem;
	button:focus{
		outline: none;
	}
	p{
		margin: 0;
	}
}

.wcc-showcase__slider-heading{
	margin-bottom: 3rem;
}

.wcc-showcase__slider-body{
	.splide__slide__row{
		height: auto !important;
	}
}

.wcc-showcase-slide-item{
	border: 1px solid #D3D9DF;
	border-radius: 8px;
	//padding: 24px;
	position: relative;
	.wcc-showcase-slide-item__cat-thumbnails{
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		height: auto;
		.wcc-showcase-slide-item__cat-thumbnails__image{
			width: 100%;
			height: auto;
			.slider-cat-image{
				height: auto;
			}
		}
		.wcc-showcase-slide-item__cat-thumbnails__icon{
			margin-top: 20px;
			max-width: 64px;
			max-height: 64px;
		}
	}
	.wcc-showcase-slide-item__cat-details {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		row-gap: .5em;
		margin-top: 10px;
		p{
			margin: 0;
		}
		.wcc-showcase-slide-item__cat-title a {
			color: #130F31;
			text-align: center;
			font-size: 1.5rem;
			font-style: normal;
			font-weight: 600;
			line-height: 2rem;
			text-decoration: none;
		}
		.wcc-showcase-slide-item__sub-cat__sub-cat-list {
			list-style: none;
			margin: 0;
			.wcc-showcase-slide-item__sub-cat__sub-cat-list__item a{
				color: #130F31;
				text-align: center;
				font-size: 1rem;
				font-style: normal;
				font-weight: 400;
				line-height: 24px;
				text-decoration: none;
			}

			.wcc-showcase-slide-item__sub-cat__sub-cat-list__item a:hover{
				color: #D4D4D4;
			}
		}
		.wcc-showcase-slide-item__cat-products a {
			color: #130F31;
			text-align: center;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px;
			text-decoration: underline;
		}
		.wcc-showcase-slide-item__cat-products a:hover {
			color: #D4D4D4;
		}
		.wcc-showcase-slide-item__cat-custom-text{
			color:#000;
		}
		.wcc-showcase-slide-item__cat-button {
			display: flex;
			flex-direction: column;
			text-align: center;
			align-items: center;
			margin-bottom: .5rem;
			a {
				display: flex;
				align-items: center;
				text-align: center;
				justify-content: center;
				gap: 4px;
				color: #130F31;
				font-size: 16px;
				font-style: normal;
				font-weight: 600;
				line-height: 24px;
			}
			a:hover{
				color: gray;
			}
		}
	}

	// Shop Now button style
	.is-button-sharp_corner &{
		.wcc-showcase-slide-item__cat-button {
			a {
				padding: 8px 16px;
				border: 1px solid #130F31;
				text-decoration: none;
				background-color: #130F31;
				color: #fff;
			}
			a:hover{
				background-color: #fff;
				color: #130F31;
			}
		}
	}
	.is-button-slightly_rounded &{
		.wcc-showcase-slide-item__cat-button {
			a {
				padding: 8px 16px;
				border: 1px solid #130F31;
				border-radius: 8px;
				text-decoration: none;
				background-color: #130F31;
				color: #fff;
			}
			a:hover{
				background-color: #fff;
				color: #130F31;
			}
		}
	}
	.is-button-rounded &{
		.wcc-showcase-slide-item__cat-button {
			a {
				padding: 8px 16px;
				border: 1px solid #130F31;
				border-radius: 24px;
				text-decoration: none;
				background-color: #130F31;
				color: #fff;
			}
			a:hover{
				background-color: #fff;
				color: #130F31;
			}
		}
	}

	.is_content_top_left &{
		.wcc-showcase-slide-item__cat-details {
			position: absolute;
			top: 10px;
			left: 10px;
			text-align: left;
			align-items: flex-start;
			row-gap: 0;
			max-width: 50%;
			margin-top:0;
			.wcc-showcase-slide-item__cat-title {
				position: relative;
				h3{
					font-size: 32px;
				}
				h3:after {
					position: absolute;
					content: ' ';
					left: 2px;
					bottom: 12px;
					width: 44px;
					background-color: #000;
					height: 2px;
				}
			}
			.wcc-showcase-slide-item__cat-description{
				p{
					font-size: 12px;
					color:#000;
				}
			}
			.wcc-showcase-slide-item__cat-button{
				margin-top: .5rem;
				a{
					font-size: 16px;
				}
			}
		}
		.slider-cat-image{
			//position: absolute;
			//top: 0;
			//left: 0;
			width: 100%;
			height: auto;
		}
		.splide__slide{
			height:550px !important;
		}
	}
}

//Navigation styles.
.wcc-showcase__navigation {
	display: flex;
	gap: 16px;
	.splide__arrow--prev::before {
		position: absolute;
		top: 5px;
		right: 4px;
		content: url("../../images/right-arrow.svg");
		transform: scaleX(-1);
		color: #fff;
	}
	.splide__arrow--next::before {
		position: absolute;
		top: 5px;
		left: 4px;
		content: url("../../images/right-arrow.svg");
		color: #fff;
	}

	// Navigation icon chevron style.
	.is--navigation-chevron &{
		.splide__arrow--prev::before {
			right: 5px;
			content: url("../../images/right-arrow-chevron.svg");
		}
		.splide__arrow--next::before {
			left: 5px;
			content: url("../../images/right-arrow-chevron.svg");
		}
	}

	// Navigation Positions.
	.is--navigation-top-right &{
		position: absolute;
		top: -26px;
		right: 12px;
		.splide__arrow{
			position: static;
		}
		.wcc-showcase__slider-heading{
			margin-bottom: 3rem!important;
		}
	}
	.is--navigation-top-left &{
		position: absolute;
		top: -26px;
		left: 12px;
		.splide__arrow{
			position: static;
		}
		.wcc-showcase__slider-heading{
			margin-bottom: 3rem!important;
		}
	}
	.is--navigation-bottom-center &{
		position: relative;
		top: 48px;
		justify-content: space-between;
		padding-left: 5%;
		padding-right: 5%;
		.splide__arrow{
			position: static;
		}
		.wcc-showcase__pagination{
			margin-top:.5rem;
		}
	}
	.is--navigation-bottom-right &{
		position: relative;
		top: 54px;
		justify-content: flex-end;
		.splide__arrow{
			position: static;
		}
	}
	.is--navigation-bottom-left &{
		position: relative;
		top: 54px;
		justify-content: flex-start;
		.splide__arrow{
			position: static;
		}
	}

	// Navigation Styles
	button {
		background-color: #130F31;
		color: #fff;
	}
}

//Pagination styles.
.wcc-showcase__pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1.5rem;
	min-height: 25px;
	text-align: center;
	.is-active{
		background-color: grey;
	}
	.splide__pagination__page{
		background-color: grey;
	}

	.is-pagination &{
		.splide__pagination{
			display: block;
		}
	}

	//Pagination Styles.
	.is--pagination-dash-with-dots &{
		.is-active{
			border-radius: 10px;
			width: 36px !important;
			transform: none;
		}
	}
	.is--pagination-only-dashes &{
		.is-active{
			border-radius: 10px;
			width: 60px !important;
			transform: none;
		}
		.splide__pagination__page{
			border-radius: 10px;
			width: 24px;
		}
	}
}



