.ea-search-control {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: 100%;

	&__input {
		border-radius: 3px;
		border: 1px solid #cbd6e2;
		transition: all 0.15s ease-out;
		background-color: #f5f8fa;
		color: #33475b;
		display: block;
		text-align: left;
		vertical-align: middle;
		width: 100%;
	}

	&__icon {
		bottom: 1px;
		pointer-events: none;
		position: absolute;
		right: 0;
		top: 1px;
	}

	&__btn {
		color: #7c98b6;
		position: absolute;
		right: 1px;
		top: 1px;
	}
}
