/* ==========================================================================
    GRIDLEX
    Just a Flexbox Grid System - v. 2.4.1
========================================================================== */
[class~="plvr-grid"],
[class*="plvr-grid-"],
[class*="plvr-grid_"] {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0 -0.5rem; }

[class~="plvr-column"],
[class*="plvr-column-"],
[class*="plvr-column_"] {
  box-sizing: border-box;
  padding: 0 0.5rem 1rem;
  max-width: 100%; }

[class~="plvr-column"],
[class*="plvr-column_"] {
  flex: 1 1 0%; }

[class*="plvr-column-"] {
  flex: none; }

[class~="plvr-grid"][class~="plvr-column"],
[class~="plvr-grid"][class*="plvr-column-"],
[class~="plvr-grid"][class*="plvr-column_"],
[class*="plvr-grid-"][class~="plvr-column"],
[class*="plvr-grid-"][class*="plvr-column-"],
[class*="plvr-grid-"][class*="plvr-column_"],
[class*="plvr-grid_"][class~="plvr-column"],
[class*="plvr-grid_"][class*="plvr-column-"],
[class*="plvr-grid_"][class*="plvr-column_"] {
  margin: 0;
  padding: 0; }

/************************
    HELPERS SUFFIXES
*************************/
[class*="plvr-grid-"][class*="-noGutter"] {
  margin: 0; }
  [class*="plvr-grid-"][class*="-noGutter"] > [class~="plvr-column"],
  [class*="plvr-grid-"][class*="-noGutter"] > [class*="plvr-column-"] {
    padding: 0; }
[class*="plvr-grid-"][class*="-noWrap"] {
  flex-wrap: nowrap; }
[class*="plvr-grid-"][class*="-center"] {
  justify-content: center; }
[class*="plvr-grid-"][class*="-right"] {
  justify-content: flex-end;
  align-self: flex-end;
  margin-left: auto; }
[class*="plvr-grid-"][class*="-top"] {
  align-items: flex-start; }
[class*="plvr-grid-"][class*="-middle"] {
  align-items: center; }
[class*="plvr-grid-"][class*="-bottom"] {
  align-items: flex-end; }
[class*="plvr-grid-"][class*="-reverse"] {
  flex-direction: row-reverse; }
[class*="plvr-grid-"][class*="-column"] {
  flex-direction: column; }
  [class*="plvr-grid-"][class*="-column"] > [class*="plvr-column-"] {
    flex-basis: auto; }
[class*="plvr-grid-"][class*="-column-reverse"] {
  flex-direction: column-reverse; }
[class*="plvr-grid-"][class*="-spaceBetween"] {
  justify-content: space-between; }
[class*="plvr-grid-"][class*="-spaceAround"] {
  justify-content: space-around; }
[class*="plvr-grid-"][class*="-equalHeight"] > [class~="plvr-column"], [class*="plvr-grid-"][class*="-equalHeight"] > [class*="plvr-column-"], [class*="plvr-grid-"][class*="-equalHeight"] > [class*="plvr-column_"] {
  align-self: stretch; }
  [class*="plvr-grid-"][class*="-equalHeight"] > [class~="plvr-column"] > *, [class*="plvr-grid-"][class*="-equalHeight"] > [class*="plvr-column-"] > *, [class*="plvr-grid-"][class*="-equalHeight"] > [class*="plvr-column_"] > * {
    height: 100%; }
[class*="plvr-grid-"][class*="-noBottom"] > [class~="plvr-column"], [class*="plvr-grid-"][class*="-noBottom"] > [class*="plvr-column-"], [class*="plvr-grid-"][class*="-noBottom"] > [class*="plvr-column_"] {
  padding-bottom: 0; }

[class*="plvr-column-"][class*="-top"] {
  align-self: flex-start; }
[class*="plvr-column-"][class*="-middle"] {
  align-self: center; }
[class*="plvr-column-"][class*="-bottom"] {
  align-self: flex-end; }
[class*="plvr-column-"][class*="-first"] {
  order: -1; }
[class*="plvr-column-"][class*="-last"] {
  order: 1; }

/************************
    GRID BY NUMBER
*************************/
[class*="plvr-grid-1"] > [class~="plvr-column"],
[class*="plvr-grid-1"] > [class*="plvr-column-"],
[class*="plvr-grid-1"] > [class*="plvr-column_"] {
  flex-basis: 100%;
  max-width: 100%; }

[class*="plvr-grid-2"] > [class~="plvr-column"],
[class*="plvr-grid-2"] > [class*="plvr-column-"],
[class*="plvr-grid-2"] > [class*="plvr-column_"] {
  flex-basis: 50%;
  max-width: 50%; }

[class*="plvr-grid-3"] > [class~="plvr-column"],
[class*="plvr-grid-3"] > [class*="plvr-column-"],
[class*="plvr-grid-3"] > [class*="plvr-column_"] {
  flex-basis: 33.33333%;
  max-width: 33.33333%; }

[class*="plvr-grid-4"] > [class~="plvr-column"],
[class*="plvr-grid-4"] > [class*="plvr-column-"],
[class*="plvr-grid-4"] > [class*="plvr-column_"] {
  flex-basis: 25%;
  max-width: 25%; }

[class*="plvr-grid-5"] > [class~="plvr-column"],
[class*="plvr-grid-5"] > [class*="plvr-column-"],
[class*="plvr-grid-5"] > [class*="plvr-column_"] {
  flex-basis: 20%;
  max-width: 20%; }

[class*="plvr-grid-6"] > [class~="plvr-column"],
[class*="plvr-grid-6"] > [class*="plvr-column-"],
[class*="plvr-grid-6"] > [class*="plvr-column_"] {
  flex-basis: 16.66667%;
  max-width: 16.66667%; }

[class*="plvr-grid-7"] > [class~="plvr-column"],
[class*="plvr-grid-7"] > [class*="plvr-column-"],
[class*="plvr-grid-7"] > [class*="plvr-column_"] {
  flex-basis: 14.28571%;
  max-width: 14.28571%; }

[class*="plvr-grid-8"] > [class~="plvr-column"],
[class*="plvr-grid-8"] > [class*="plvr-column-"],
[class*="plvr-grid-8"] > [class*="plvr-column_"] {
  flex-basis: 12.5%;
  max-width: 12.5%; }

[class*="plvr-grid-9"] > [class~="plvr-column"],
[class*="plvr-grid-9"] > [class*="plvr-column-"],
[class*="plvr-grid-9"] > [class*="plvr-column_"] {
  flex-basis: 11.11111%;
  max-width: 11.11111%; }

[class*="plvr-grid-10"] > [class~="plvr-column"],
[class*="plvr-grid-10"] > [class*="plvr-column-"],
[class*="plvr-grid-10"] > [class*="plvr-column_"] {
  flex-basis: 10%;
  max-width: 10%; }

[class*="plvr-grid-11"] > [class~="plvr-column"],
[class*="plvr-grid-11"] > [class*="plvr-column-"] {
  flex-basis: 9.09091%;
  max-width: 9.09091%; }

[class*="plvr-grid-12"] > [class~="plvr-column"],
[class*="plvr-grid-12"] > [class*="plvr-column-"],
[class*="plvr-grid-12"] > [class*="plvr-column_"] {
  flex-basis: 8.33333%;
  max-width: 8.33333%; }

@media screen and (max-width: 80em) {
  [class*="_lg-1"] > [class~="plvr-column"],
  [class*="_lg-1"] > [class*="plvr-column-"],
  [class*="_lg-1"] > [class*="plvr-column_"] {
    flex-basis: 100%;
    max-width: 100%; }

  [class*="_lg-2"] > [class~="plvr-column"],
  [class*="_lg-2"] > [class*="plvr-column-"],
  [class*="_lg-2"] > [class*="plvr-column_"] {
    flex-basis: 50%;
    max-width: 50%; }

  [class*="_lg-3"] > [class~="plvr-column"],
  [class*="_lg-3"] > [class*="plvr-column-"],
  [class*="_lg-3"] > [class*="plvr-column_"] {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }

  [class*="_lg-4"] > [class~="plvr-column"],
  [class*="_lg-4"] > [class*="plvr-column-"],
  [class*="_lg-4"] > [class*="plvr-column_"] {
    flex-basis: 25%;
    max-width: 25%; }

  [class*="_lg-5"] > [class~="plvr-column"],
  [class*="_lg-5"] > [class*="plvr-column-"],
  [class*="_lg-5"] > [class*="plvr-column_"] {
    flex-basis: 20%;
    max-width: 20%; }

  [class*="_lg-6"] > [class~="plvr-column"],
  [class*="_lg-6"] > [class*="plvr-column-"],
  [class*="_lg-6"] > [class*="plvr-column_"] {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }

  [class*="_lg-7"] > [class~="plvr-column"],
  [class*="_lg-7"] > [class*="plvr-column-"],
  [class*="_lg-7"] > [class*="plvr-column_"] {
    flex-basis: 14.28571%;
    max-width: 14.28571%; }

  [class*="_lg-8"] > [class~="plvr-column"],
  [class*="_lg-8"] > [class*="plvr-column-"],
  [class*="_lg-8"] > [class*="plvr-column_"] {
    flex-basis: 12.5%;
    max-width: 12.5%; }

  [class*="_lg-9"] > [class~="plvr-column"],
  [class*="_lg-9"] > [class*="plvr-column-"],
  [class*="_lg-9"] > [class*="plvr-column_"] {
    flex-basis: 11.11111%;
    max-width: 11.11111%; }

  [class*="_lg-10"] > [class~="plvr-column"],
  [class*="_lg-10"] > [class*="plvr-column-"],
  [class*="_lg-10"] > [class*="plvr-column_"] {
    flex-basis: 10%;
    max-width: 10%; }

  [class*="_lg-11"] > [class~="plvr-column"],
  [class*="_lg-11"] > [class*="plvr-column-"] {
    flex-basis: 9.09091%;
    max-width: 9.09091%; }

  [class*="_lg-12"] > [class~="plvr-column"],
  [class*="_lg-12"] > [class*="plvr-column-"],
  [class*="_lg-12"] > [class*="plvr-column_"] {
    flex-basis: 8.33333%;
    max-width: 8.33333%; } }
@media screen and (max-width: 64em) {
  [class*="_md-1"] > [class~="plvr-column"],
  [class*="_md-1"] > [class*="plvr-column-"],
  [class*="_md-1"] > [class*="plvr-column_"] {
    flex-basis: 100%;
    max-width: 100%; }

  [class*="_md-2"] > [class~="plvr-column"],
  [class*="_md-2"] > [class*="plvr-column-"],
  [class*="_md-2"] > [class*="plvr-column_"] {
    flex-basis: 50%;
    max-width: 50%; }

  [class*="_md-3"] > [class~="plvr-column"],
  [class*="_md-3"] > [class*="plvr-column-"],
  [class*="_md-3"] > [class*="plvr-column_"] {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }

  [class*="_md-4"] > [class~="plvr-column"],
  [class*="_md-4"] > [class*="plvr-column-"],
  [class*="_md-4"] > [class*="plvr-column_"] {
    flex-basis: 25%;
    max-width: 25%; }

  [class*="_md-5"] > [class~="plvr-column"],
  [class*="_md-5"] > [class*="plvr-column-"],
  [class*="_md-5"] > [class*="plvr-column_"] {
    flex-basis: 20%;
    max-width: 20%; }

  [class*="_md-6"] > [class~="plvr-column"],
  [class*="_md-6"] > [class*="plvr-column-"],
  [class*="_md-6"] > [class*="plvr-column_"] {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }

  [class*="_md-7"] > [class~="plvr-column"],
  [class*="_md-7"] > [class*="plvr-column-"],
  [class*="_md-7"] > [class*="plvr-column_"] {
    flex-basis: 14.28571%;
    max-width: 14.28571%; }

  [class*="_md-8"] > [class~="plvr-column"],
  [class*="_md-8"] > [class*="plvr-column-"],
  [class*="_md-8"] > [class*="plvr-column_"] {
    flex-basis: 12.5%;
    max-width: 12.5%; }

  [class*="_md-9"] > [class~="plvr-column"],
  [class*="_md-9"] > [class*="plvr-column-"],
  [class*="_md-9"] > [class*="plvr-column_"] {
    flex-basis: 11.11111%;
    max-width: 11.11111%; }

  [class*="_md-10"] > [class~="plvr-column"],
  [class*="_md-10"] > [class*="plvr-column-"],
  [class*="_md-10"] > [class*="plvr-column_"] {
    flex-basis: 10%;
    max-width: 10%; }

  [class*="_md-11"] > [class~="plvr-column"],
  [class*="_md-11"] > [class*="plvr-column-"] {
    flex-basis: 9.09091%;
    max-width: 9.09091%; }

  [class*="_md-12"] > [class~="plvr-column"],
  [class*="_md-12"] > [class*="plvr-column-"],
  [class*="_md-12"] > [class*="plvr-column_"] {
    flex-basis: 8.33333%;
    max-width: 8.33333%; } }
@media screen and (max-width: 48em) {
  [class*="_sm-1"] > [class~="plvr-column"],
  [class*="_sm-1"] > [class*="plvr-column-"],
  [class*="_sm-1"] > [class*="plvr-column_"] {
    flex-basis: 100%;
    max-width: 100%; }

  [class*="_sm-2"] > [class~="plvr-column"],
  [class*="_sm-2"] > [class*="plvr-column-"],
  [class*="_sm-2"] > [class*="plvr-column_"] {
    flex-basis: 50%;
    max-width: 50%; }

  [class*="_sm-3"] > [class~="plvr-column"],
  [class*="_sm-3"] > [class*="plvr-column-"],
  [class*="_sm-3"] > [class*="plvr-column_"] {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }

  [class*="_sm-4"] > [class~="plvr-column"],
  [class*="_sm-4"] > [class*="plvr-column-"],
  [class*="_sm-4"] > [class*="plvr-column_"] {
    flex-basis: 25%;
    max-width: 25%; }

  [class*="_sm-5"] > [class~="plvr-column"],
  [class*="_sm-5"] > [class*="plvr-column-"],
  [class*="_sm-5"] > [class*="plvr-column_"] {
    flex-basis: 20%;
    max-width: 20%; }

  [class*="_sm-6"] > [class~="plvr-column"],
  [class*="_sm-6"] > [class*="plvr-column-"],
  [class*="_sm-6"] > [class*="plvr-column_"] {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }

  [class*="_sm-7"] > [class~="plvr-column"],
  [class*="_sm-7"] > [class*="plvr-column-"],
  [class*="_sm-7"] > [class*="plvr-column_"] {
    flex-basis: 14.28571%;
    max-width: 14.28571%; }

  [class*="_sm-8"] > [class~="plvr-column"],
  [class*="_sm-8"] > [class*="plvr-column-"],
  [class*="_sm-8"] > [class*="plvr-column_"] {
    flex-basis: 12.5%;
    max-width: 12.5%; }

  [class*="_sm-9"] > [class~="plvr-column"],
  [class*="_sm-9"] > [class*="plvr-column-"],
  [class*="_sm-9"] > [class*="plvr-column_"] {
    flex-basis: 11.11111%;
    max-width: 11.11111%; }

  [class*="_sm-10"] > [class~="plvr-column"],
  [class*="_sm-10"] > [class*="plvr-column-"],
  [class*="_sm-10"] > [class*="plvr-column_"] {
    flex-basis: 10%;
    max-width: 10%; }

  [class*="_sm-11"] > [class~="plvr-column"],
  [class*="_sm-11"] > [class*="plvr-column-"] {
    flex-basis: 9.09091%;
    max-width: 9.09091%; }

  [class*="_sm-12"] > [class~="plvr-column"],
  [class*="_sm-12"] > [class*="plvr-column-"],
  [class*="_sm-12"] > [class*="plvr-column_"] {
    flex-basis: 8.33333%;
    max-width: 8.33333%; } }
@media screen and (max-width: 35.5em) {
  [class*="_xs-1"] > [class~="plvr-column"],
  [class*="_xs-1"] > [class*="plvr-column-"],
  [class*="_xs-1"] > [class*="plvr-column_"] {
    flex-basis: 100%;
    max-width: 100%; }

  [class*="_xs-2"] > [class~="plvr-column"],
  [class*="_xs-2"] > [class*="plvr-column-"],
  [class*="_xs-2"] > [class*="plvr-column_"] {
    flex-basis: 50%;
    max-width: 50%; }

  [class*="_xs-3"] > [class~="plvr-column"],
  [class*="_xs-3"] > [class*="plvr-column-"],
  [class*="_xs-3"] > [class*="plvr-column_"] {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }

  [class*="_xs-4"] > [class~="plvr-column"],
  [class*="_xs-4"] > [class*="plvr-column-"],
  [class*="_xs-4"] > [class*="plvr-column_"] {
    flex-basis: 25%;
    max-width: 25%; }

  [class*="_xs-5"] > [class~="plvr-column"],
  [class*="_xs-5"] > [class*="plvr-column-"],
  [class*="_xs-5"] > [class*="plvr-column_"] {
    flex-basis: 20%;
    max-width: 20%; }

  [class*="_xs-6"] > [class~="plvr-column"],
  [class*="_xs-6"] > [class*="plvr-column-"],
  [class*="_xs-6"] > [class*="plvr-column_"] {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }

  [class*="_xs-7"] > [class~="plvr-column"],
  [class*="_xs-7"] > [class*="plvr-column-"],
  [class*="_xs-7"] > [class*="plvr-column_"] {
    flex-basis: 14.28571%;
    max-width: 14.28571%; }

  [class*="_xs-8"] > [class~="plvr-column"],
  [class*="_xs-8"] > [class*="plvr-column-"],
  [class*="_xs-8"] > [class*="plvr-column_"] {
    flex-basis: 12.5%;
    max-width: 12.5%; }

  [class*="_xs-9"] > [class~="plvr-column"],
  [class*="_xs-9"] > [class*="plvr-column-"],
  [class*="_xs-9"] > [class*="plvr-column_"] {
    flex-basis: 11.11111%;
    max-width: 11.11111%; }

  [class*="_xs-10"] > [class~="plvr-column"],
  [class*="_xs-10"] > [class*="plvr-column-"],
  [class*="_xs-10"] > [class*="plvr-column_"] {
    flex-basis: 10%;
    max-width: 10%; }

  [class*="_xs-11"] > [class~="plvr-column"],
  [class*="_xs-11"] > [class*="plvr-column-"] {
    flex-basis: 9.09091%;
    max-width: 9.09091%; }

  [class*="_xs-12"] > [class~="plvr-column"],
  [class*="_xs-12"] > [class*="plvr-column-"],
  [class*="_xs-12"] > [class*="plvr-column_"] {
    flex-basis: 8.33333%;
    max-width: 8.33333%; } }
/************************
    COLS SIZES
*************************/
[class~="plvr-grid"] > [class*="plvr-column-1"],
[class*="plvr-grid-"] > [class*="plvr-column-1"],
[class*="plvr-grid_"] > [class*="plvr-column-1"] {
  flex-basis: 8.33333%;
  max-width: 8.33333%; }
[class~="plvr-grid"] > [class*="plvr-column-2"],
[class*="plvr-grid-"] > [class*="plvr-column-2"],
[class*="plvr-grid_"] > [class*="plvr-column-2"] {
  flex-basis: 16.66667%;
  max-width: 16.66667%; }
[class~="plvr-grid"] > [class*="plvr-column-3"],
[class*="plvr-grid-"] > [class*="plvr-column-3"],
[class*="plvr-grid_"] > [class*="plvr-column-3"] {
  flex-basis: 25%;
  max-width: 25%; }
[class~="plvr-grid"] > [class*="plvr-column-4"],
[class*="plvr-grid-"] > [class*="plvr-column-4"],
[class*="plvr-grid_"] > [class*="plvr-column-4"] {
  flex-basis: 33.33333%;
  max-width: 33.33333%; }
[class~="plvr-grid"] > [class*="plvr-column-5"],
[class*="plvr-grid-"] > [class*="plvr-column-5"],
[class*="plvr-grid_"] > [class*="plvr-column-5"] {
  flex-basis: 41.66667%;
  max-width: 41.66667%; }
[class~="plvr-grid"] > [class*="plvr-column-6"],
[class*="plvr-grid-"] > [class*="plvr-column-6"],
[class*="plvr-grid_"] > [class*="plvr-column-6"] {
  flex-basis: 50%;
  max-width: 50%; }
[class~="plvr-grid"] > [class*="plvr-column-7"],
[class*="plvr-grid-"] > [class*="plvr-column-7"],
[class*="plvr-grid_"] > [class*="plvr-column-7"] {
  flex-basis: 58.33333%;
  max-width: 58.33333%; }
[class~="plvr-grid"] > [class*="plvr-column-8"],
[class*="plvr-grid-"] > [class*="plvr-column-8"],
[class*="plvr-grid_"] > [class*="plvr-column-8"] {
  flex-basis: 66.66667%;
  max-width: 66.66667%; }
[class~="plvr-grid"] > [class*="plvr-column-9"],
[class*="plvr-grid-"] > [class*="plvr-column-9"],
[class*="plvr-grid_"] > [class*="plvr-column-9"] {
  flex-basis: 75%;
  max-width: 75%; }
[class~="plvr-grid"] > [class*="plvr-column-10"],
[class*="plvr-grid-"] > [class*="plvr-column-10"],
[class*="plvr-grid_"] > [class*="plvr-column-10"] {
  flex-basis: 83.33333%;
  max-width: 83.33333%; }
[class~="plvr-grid"] > [class*="plvr-column-11"],
[class*="plvr-grid-"] > [class*="plvr-column-11"],
[class*="plvr-grid_"] > [class*="plvr-column-11"] {
  flex-basis: 91.66667%;
  max-width: 91.66667%; }
[class~="plvr-grid"] > [class*="plvr-column-12"],
[class*="plvr-grid-"] > [class*="plvr-column-12"],
[class*="plvr-grid_"] > [class*="plvr-column-12"] {
  flex-basis: 100%;
  max-width: 100%; }

[class~="plvr-grid"] > [data-push-left*="off-0"],
[class*="plvr-grid-"] > [data-push-left*="off-0"],
[class*="plvr-grid_"] > [data-push-left*="off-0"] {
  margin-left: 0; }
[class~="plvr-grid"] > [data-push-left*="off-1"],
[class*="plvr-grid-"] > [data-push-left*="off-1"],
[class*="plvr-grid_"] > [data-push-left*="off-1"] {
  margin-left: 8.33333%; }
[class~="plvr-grid"] > [data-push-left*="off-2"],
[class*="plvr-grid-"] > [data-push-left*="off-2"],
[class*="plvr-grid_"] > [data-push-left*="off-2"] {
  margin-left: 16.66667%; }
[class~="plvr-grid"] > [data-push-left*="off-3"],
[class*="plvr-grid-"] > [data-push-left*="off-3"],
[class*="plvr-grid_"] > [data-push-left*="off-3"] {
  margin-left: 25%; }
[class~="plvr-grid"] > [data-push-left*="off-4"],
[class*="plvr-grid-"] > [data-push-left*="off-4"],
[class*="plvr-grid_"] > [data-push-left*="off-4"] {
  margin-left: 33.33333%; }
[class~="plvr-grid"] > [data-push-left*="off-5"],
[class*="plvr-grid-"] > [data-push-left*="off-5"],
[class*="plvr-grid_"] > [data-push-left*="off-5"] {
  margin-left: 41.66667%; }
[class~="plvr-grid"] > [data-push-left*="off-6"],
[class*="plvr-grid-"] > [data-push-left*="off-6"],
[class*="plvr-grid_"] > [data-push-left*="off-6"] {
  margin-left: 50%; }
[class~="plvr-grid"] > [data-push-left*="off-7"],
[class*="plvr-grid-"] > [data-push-left*="off-7"],
[class*="plvr-grid_"] > [data-push-left*="off-7"] {
  margin-left: 58.33333%; }
[class~="plvr-grid"] > [data-push-left*="off-8"],
[class*="plvr-grid-"] > [data-push-left*="off-8"],
[class*="plvr-grid_"] > [data-push-left*="off-8"] {
  margin-left: 66.66667%; }
[class~="plvr-grid"] > [data-push-left*="off-9"],
[class*="plvr-grid-"] > [data-push-left*="off-9"],
[class*="plvr-grid_"] > [data-push-left*="off-9"] {
  margin-left: 75%; }
[class~="plvr-grid"] > [data-push-left*="off-10"],
[class*="plvr-grid-"] > [data-push-left*="off-10"],
[class*="plvr-grid_"] > [data-push-left*="off-10"] {
  margin-left: 83.33333%; }
[class~="plvr-grid"] > [data-push-left*="off-11"],
[class*="plvr-grid-"] > [data-push-left*="off-11"],
[class*="plvr-grid_"] > [data-push-left*="off-11"] {
  margin-left: 91.66667%; }
[class~="plvr-grid"] > [data-push-right*="off-0"],
[class*="plvr-grid-"] > [data-push-right*="off-0"],
[class*="plvr-grid_"] > [data-push-right*="off-0"] {
  margin-right: 0; }
[class~="plvr-grid"] > [data-push-right*="off-1"],
[class*="plvr-grid-"] > [data-push-right*="off-1"],
[class*="plvr-grid_"] > [data-push-right*="off-1"] {
  margin-right: 8.33333%; }
[class~="plvr-grid"] > [data-push-right*="off-2"],
[class*="plvr-grid-"] > [data-push-right*="off-2"],
[class*="plvr-grid_"] > [data-push-right*="off-2"] {
  margin-right: 16.66667%; }
[class~="plvr-grid"] > [data-push-right*="off-3"],
[class*="plvr-grid-"] > [data-push-right*="off-3"],
[class*="plvr-grid_"] > [data-push-right*="off-3"] {
  margin-right: 25%; }
[class~="plvr-grid"] > [data-push-right*="off-4"],
[class*="plvr-grid-"] > [data-push-right*="off-4"],
[class*="plvr-grid_"] > [data-push-right*="off-4"] {
  margin-right: 33.33333%; }
[class~="plvr-grid"] > [data-push-right*="off-5"],
[class*="plvr-grid-"] > [data-push-right*="off-5"],
[class*="plvr-grid_"] > [data-push-right*="off-5"] {
  margin-right: 41.66667%; }
[class~="plvr-grid"] > [data-push-right*="off-6"],
[class*="plvr-grid-"] > [data-push-right*="off-6"],
[class*="plvr-grid_"] > [data-push-right*="off-6"] {
  margin-right: 50%; }
[class~="plvr-grid"] > [data-push-right*="off-7"],
[class*="plvr-grid-"] > [data-push-right*="off-7"],
[class*="plvr-grid_"] > [data-push-right*="off-7"] {
  margin-right: 58.33333%; }
[class~="plvr-grid"] > [data-push-right*="off-8"],
[class*="plvr-grid-"] > [data-push-right*="off-8"],
[class*="plvr-grid_"] > [data-push-right*="off-8"] {
  margin-right: 66.66667%; }
[class~="plvr-grid"] > [data-push-right*="off-9"],
[class*="plvr-grid-"] > [data-push-right*="off-9"],
[class*="plvr-grid_"] > [data-push-right*="off-9"] {
  margin-right: 75%; }
[class~="plvr-grid"] > [data-push-right*="off-10"],
[class*="plvr-grid-"] > [data-push-right*="off-10"],
[class*="plvr-grid_"] > [data-push-right*="off-10"] {
  margin-right: 83.33333%; }
[class~="plvr-grid"] > [data-push-right*="off-11"],
[class*="plvr-grid-"] > [data-push-right*="off-11"],
[class*="plvr-grid_"] > [data-push-right*="off-11"] {
  margin-right: 91.66667%; }

@media screen and (max-width: 80em) {
  [class~="plvr-grid"] > [class*="_lg-1"],
  [class*="plvr-grid-"] > [class*="_lg-1"],
  [class*="plvr-grid_"] > [class*="_lg-1"] {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  [class~="plvr-grid"] > [class*="_lg-2"],
  [class*="plvr-grid-"] > [class*="_lg-2"],
  [class*="plvr-grid_"] > [class*="_lg-2"] {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  [class~="plvr-grid"] > [class*="_lg-3"],
  [class*="plvr-grid-"] > [class*="_lg-3"],
  [class*="plvr-grid_"] > [class*="_lg-3"] {
    flex-basis: 25%;
    max-width: 25%; }
  [class~="plvr-grid"] > [class*="_lg-4"],
  [class*="plvr-grid-"] > [class*="_lg-4"],
  [class*="plvr-grid_"] > [class*="_lg-4"] {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  [class~="plvr-grid"] > [class*="_lg-5"],
  [class*="plvr-grid-"] > [class*="_lg-5"],
  [class*="plvr-grid_"] > [class*="_lg-5"] {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  [class~="plvr-grid"] > [class*="_lg-6"],
  [class*="plvr-grid-"] > [class*="_lg-6"],
  [class*="plvr-grid_"] > [class*="_lg-6"] {
    flex-basis: 50%;
    max-width: 50%; }
  [class~="plvr-grid"] > [class*="_lg-7"],
  [class*="plvr-grid-"] > [class*="_lg-7"],
  [class*="plvr-grid_"] > [class*="_lg-7"] {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  [class~="plvr-grid"] > [class*="_lg-8"],
  [class*="plvr-grid-"] > [class*="_lg-8"],
  [class*="plvr-grid_"] > [class*="_lg-8"] {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  [class~="plvr-grid"] > [class*="_lg-9"],
  [class*="plvr-grid-"] > [class*="_lg-9"],
  [class*="plvr-grid_"] > [class*="_lg-9"] {
    flex-basis: 75%;
    max-width: 75%; }
  [class~="plvr-grid"] > [class*="_lg-10"],
  [class*="plvr-grid-"] > [class*="_lg-10"],
  [class*="plvr-grid_"] > [class*="_lg-10"] {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  [class~="plvr-grid"] > [class*="_lg-11"],
  [class*="plvr-grid-"] > [class*="_lg-11"],
  [class*="plvr-grid_"] > [class*="_lg-11"] {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  [class~="plvr-grid"] > [class*="_lg-12"],
  [class*="plvr-grid-"] > [class*="_lg-12"],
  [class*="plvr-grid_"] > [class*="_lg-12"] {
    flex-basis: 100%;
    max-width: 100%; }

  [class~="plvr-grid"] > [data-push-left*="_lg-0"],
  [class*="plvr-grid-"] > [data-push-left*="_lg-0"],
  [class*="plvr-grid_"] > [data-push-left*="_lg-0"] {
    margin-left: 0; }
  [class~="plvr-grid"] > [data-push-left*="_lg-1"],
  [class*="plvr-grid-"] > [data-push-left*="_lg-1"],
  [class*="plvr-grid_"] > [data-push-left*="_lg-1"] {
    margin-left: 8.33333%; }
  [class~="plvr-grid"] > [data-push-left*="_lg-2"],
  [class*="plvr-grid-"] > [data-push-left*="_lg-2"],
  [class*="plvr-grid_"] > [data-push-left*="_lg-2"] {
    margin-left: 16.66667%; }
  [class~="plvr-grid"] > [data-push-left*="_lg-3"],
  [class*="plvr-grid-"] > [data-push-left*="_lg-3"],
  [class*="plvr-grid_"] > [data-push-left*="_lg-3"] {
    margin-left: 25%; }
  [class~="plvr-grid"] > [data-push-left*="_lg-4"],
  [class*="plvr-grid-"] > [data-push-left*="_lg-4"],
  [class*="plvr-grid_"] > [data-push-left*="_lg-4"] {
    margin-left: 33.33333%; }
  [class~="plvr-grid"] > [data-push-left*="_lg-5"],
  [class*="plvr-grid-"] > [data-push-left*="_lg-5"],
  [class*="plvr-grid_"] > [data-push-left*="_lg-5"] {
    margin-left: 41.66667%; }
  [class~="plvr-grid"] > [data-push-left*="_lg-6"],
  [class*="plvr-grid-"] > [data-push-left*="_lg-6"],
  [class*="plvr-grid_"] > [data-push-left*="_lg-6"] {
    margin-left: 50%; }
  [class~="plvr-grid"] > [data-push-left*="_lg-7"],
  [class*="plvr-grid-"] > [data-push-left*="_lg-7"],
  [class*="plvr-grid_"] > [data-push-left*="_lg-7"] {
    margin-left: 58.33333%; }
  [class~="plvr-grid"] > [data-push-left*="_lg-8"],
  [class*="plvr-grid-"] > [data-push-left*="_lg-8"],
  [class*="plvr-grid_"] > [data-push-left*="_lg-8"] {
    margin-left: 66.66667%; }
  [class~="plvr-grid"] > [data-push-left*="_lg-9"],
  [class*="plvr-grid-"] > [data-push-left*="_lg-9"],
  [class*="plvr-grid_"] > [data-push-left*="_lg-9"] {
    margin-left: 75%; }
  [class~="plvr-grid"] > [data-push-left*="_lg-10"],
  [class*="plvr-grid-"] > [data-push-left*="_lg-10"],
  [class*="plvr-grid_"] > [data-push-left*="_lg-10"] {
    margin-left: 83.33333%; }
  [class~="plvr-grid"] > [data-push-left*="_lg-11"],
  [class*="plvr-grid-"] > [data-push-left*="_lg-11"],
  [class*="plvr-grid_"] > [data-push-left*="_lg-11"] {
    margin-left: 91.66667%; }
  [class~="plvr-grid"] > [data-push-right*="_lg-0"],
  [class*="plvr-grid-"] > [data-push-right*="_lg-0"],
  [class*="plvr-grid_"] > [data-push-right*="_lg-0"] {
    margin-right: 0; }
  [class~="plvr-grid"] > [data-push-right*="_lg-1"],
  [class*="plvr-grid-"] > [data-push-right*="_lg-1"],
  [class*="plvr-grid_"] > [data-push-right*="_lg-1"] {
    margin-right: 8.33333%; }
  [class~="plvr-grid"] > [data-push-right*="_lg-2"],
  [class*="plvr-grid-"] > [data-push-right*="_lg-2"],
  [class*="plvr-grid_"] > [data-push-right*="_lg-2"] {
    margin-right: 16.66667%; }
  [class~="plvr-grid"] > [data-push-right*="_lg-3"],
  [class*="plvr-grid-"] > [data-push-right*="_lg-3"],
  [class*="plvr-grid_"] > [data-push-right*="_lg-3"] {
    margin-right: 25%; }
  [class~="plvr-grid"] > [data-push-right*="_lg-4"],
  [class*="plvr-grid-"] > [data-push-right*="_lg-4"],
  [class*="plvr-grid_"] > [data-push-right*="_lg-4"] {
    margin-right: 33.33333%; }
  [class~="plvr-grid"] > [data-push-right*="_lg-5"],
  [class*="plvr-grid-"] > [data-push-right*="_lg-5"],
  [class*="plvr-grid_"] > [data-push-right*="_lg-5"] {
    margin-right: 41.66667%; }
  [class~="plvr-grid"] > [data-push-right*="_lg-6"],
  [class*="plvr-grid-"] > [data-push-right*="_lg-6"],
  [class*="plvr-grid_"] > [data-push-right*="_lg-6"] {
    margin-right: 50%; }
  [class~="plvr-grid"] > [data-push-right*="_lg-7"],
  [class*="plvr-grid-"] > [data-push-right*="_lg-7"],
  [class*="plvr-grid_"] > [data-push-right*="_lg-7"] {
    margin-right: 58.33333%; }
  [class~="plvr-grid"] > [data-push-right*="_lg-8"],
  [class*="plvr-grid-"] > [data-push-right*="_lg-8"],
  [class*="plvr-grid_"] > [data-push-right*="_lg-8"] {
    margin-right: 66.66667%; }
  [class~="plvr-grid"] > [data-push-right*="_lg-9"],
  [class*="plvr-grid-"] > [data-push-right*="_lg-9"],
  [class*="plvr-grid_"] > [data-push-right*="_lg-9"] {
    margin-right: 75%; }
  [class~="plvr-grid"] > [data-push-right*="_lg-10"],
  [class*="plvr-grid-"] > [data-push-right*="_lg-10"],
  [class*="plvr-grid_"] > [data-push-right*="_lg-10"] {
    margin-right: 83.33333%; }
  [class~="plvr-grid"] > [data-push-right*="_lg-11"],
  [class*="plvr-grid-"] > [data-push-right*="_lg-11"],
  [class*="plvr-grid_"] > [data-push-right*="_lg-11"] {
    margin-right: 91.66667%; }

  [class~="plvr-grid"] [class*="_lg-first"],
  [class*="plvr-grid-"] [class*="_lg-first"],
  [class*="plvr-grid_"] [class*="_lg-first"] {
    order: -1; }
  [class~="plvr-grid"] [class*="_lg-last"],
  [class*="plvr-grid-"] [class*="_lg-last"],
  [class*="plvr-grid_"] [class*="_lg-last"] {
    order: 1; } }
@media screen and (max-width: 64em) {
  [class~="plvr-grid"] > [class*="_md-1"],
  [class*="plvr-grid-"] > [class*="_md-1"],
  [class*="plvr-grid_"] > [class*="_md-1"] {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  [class~="plvr-grid"] > [class*="_md-2"],
  [class*="plvr-grid-"] > [class*="_md-2"],
  [class*="plvr-grid_"] > [class*="_md-2"] {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  [class~="plvr-grid"] > [class*="_md-3"],
  [class*="plvr-grid-"] > [class*="_md-3"],
  [class*="plvr-grid_"] > [class*="_md-3"] {
    flex-basis: 25%;
    max-width: 25%; }
  [class~="plvr-grid"] > [class*="_md-4"],
  [class*="plvr-grid-"] > [class*="_md-4"],
  [class*="plvr-grid_"] > [class*="_md-4"] {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  [class~="plvr-grid"] > [class*="_md-5"],
  [class*="plvr-grid-"] > [class*="_md-5"],
  [class*="plvr-grid_"] > [class*="_md-5"] {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  [class~="plvr-grid"] > [class*="_md-6"],
  [class*="plvr-grid-"] > [class*="_md-6"],
  [class*="plvr-grid_"] > [class*="_md-6"] {
    flex-basis: 50%;
    max-width: 50%; }
  [class~="plvr-grid"] > [class*="_md-7"],
  [class*="plvr-grid-"] > [class*="_md-7"],
  [class*="plvr-grid_"] > [class*="_md-7"] {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  [class~="plvr-grid"] > [class*="_md-8"],
  [class*="plvr-grid-"] > [class*="_md-8"],
  [class*="plvr-grid_"] > [class*="_md-8"] {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  [class~="plvr-grid"] > [class*="_md-9"],
  [class*="plvr-grid-"] > [class*="_md-9"],
  [class*="plvr-grid_"] > [class*="_md-9"] {
    flex-basis: 75%;
    max-width: 75%; }
  [class~="plvr-grid"] > [class*="_md-10"],
  [class*="plvr-grid-"] > [class*="_md-10"],
  [class*="plvr-grid_"] > [class*="_md-10"] {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  [class~="plvr-grid"] > [class*="_md-11"],
  [class*="plvr-grid-"] > [class*="_md-11"],
  [class*="plvr-grid_"] > [class*="_md-11"] {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  [class~="plvr-grid"] > [class*="_md-12"],
  [class*="plvr-grid-"] > [class*="_md-12"],
  [class*="plvr-grid_"] > [class*="_md-12"] {
    flex-basis: 100%;
    max-width: 100%; }

  [class~="plvr-grid"] > [data-push-left*="_md-0"],
  [class*="plvr-grid-"] > [data-push-left*="_md-0"],
  [class*="plvr-grid_"] > [data-push-left*="_md-0"] {
    margin-left: 0; }
  [class~="plvr-grid"] > [data-push-left*="_md-1"],
  [class*="plvr-grid-"] > [data-push-left*="_md-1"],
  [class*="plvr-grid_"] > [data-push-left*="_md-1"] {
    margin-left: 8.33333%; }
  [class~="plvr-grid"] > [data-push-left*="_md-2"],
  [class*="plvr-grid-"] > [data-push-left*="_md-2"],
  [class*="plvr-grid_"] > [data-push-left*="_md-2"] {
    margin-left: 16.66667%; }
  [class~="plvr-grid"] > [data-push-left*="_md-3"],
  [class*="plvr-grid-"] > [data-push-left*="_md-3"],
  [class*="plvr-grid_"] > [data-push-left*="_md-3"] {
    margin-left: 25%; }
  [class~="plvr-grid"] > [data-push-left*="_md-4"],
  [class*="plvr-grid-"] > [data-push-left*="_md-4"],
  [class*="plvr-grid_"] > [data-push-left*="_md-4"] {
    margin-left: 33.33333%; }
  [class~="plvr-grid"] > [data-push-left*="_md-5"],
  [class*="plvr-grid-"] > [data-push-left*="_md-5"],
  [class*="plvr-grid_"] > [data-push-left*="_md-5"] {
    margin-left: 41.66667%; }
  [class~="plvr-grid"] > [data-push-left*="_md-6"],
  [class*="plvr-grid-"] > [data-push-left*="_md-6"],
  [class*="plvr-grid_"] > [data-push-left*="_md-6"] {
    margin-left: 50%; }
  [class~="plvr-grid"] > [data-push-left*="_md-7"],
  [class*="plvr-grid-"] > [data-push-left*="_md-7"],
  [class*="plvr-grid_"] > [data-push-left*="_md-7"] {
    margin-left: 58.33333%; }
  [class~="plvr-grid"] > [data-push-left*="_md-8"],
  [class*="plvr-grid-"] > [data-push-left*="_md-8"],
  [class*="plvr-grid_"] > [data-push-left*="_md-8"] {
    margin-left: 66.66667%; }
  [class~="plvr-grid"] > [data-push-left*="_md-9"],
  [class*="plvr-grid-"] > [data-push-left*="_md-9"],
  [class*="plvr-grid_"] > [data-push-left*="_md-9"] {
    margin-left: 75%; }
  [class~="plvr-grid"] > [data-push-left*="_md-10"],
  [class*="plvr-grid-"] > [data-push-left*="_md-10"],
  [class*="plvr-grid_"] > [data-push-left*="_md-10"] {
    margin-left: 83.33333%; }
  [class~="plvr-grid"] > [data-push-left*="_md-11"],
  [class*="plvr-grid-"] > [data-push-left*="_md-11"],
  [class*="plvr-grid_"] > [data-push-left*="_md-11"] {
    margin-left: 91.66667%; }
  [class~="plvr-grid"] > [data-push-right*="_md-0"],
  [class*="plvr-grid-"] > [data-push-right*="_md-0"],
  [class*="plvr-grid_"] > [data-push-right*="_md-0"] {
    margin-right: 0; }
  [class~="plvr-grid"] > [data-push-right*="_md-1"],
  [class*="plvr-grid-"] > [data-push-right*="_md-1"],
  [class*="plvr-grid_"] > [data-push-right*="_md-1"] {
    margin-right: 8.33333%; }
  [class~="plvr-grid"] > [data-push-right*="_md-2"],
  [class*="plvr-grid-"] > [data-push-right*="_md-2"],
  [class*="plvr-grid_"] > [data-push-right*="_md-2"] {
    margin-right: 16.66667%; }
  [class~="plvr-grid"] > [data-push-right*="_md-3"],
  [class*="plvr-grid-"] > [data-push-right*="_md-3"],
  [class*="plvr-grid_"] > [data-push-right*="_md-3"] {
    margin-right: 25%; }
  [class~="plvr-grid"] > [data-push-right*="_md-4"],
  [class*="plvr-grid-"] > [data-push-right*="_md-4"],
  [class*="plvr-grid_"] > [data-push-right*="_md-4"] {
    margin-right: 33.33333%; }
  [class~="plvr-grid"] > [data-push-right*="_md-5"],
  [class*="plvr-grid-"] > [data-push-right*="_md-5"],
  [class*="plvr-grid_"] > [data-push-right*="_md-5"] {
    margin-right: 41.66667%; }
  [class~="plvr-grid"] > [data-push-right*="_md-6"],
  [class*="plvr-grid-"] > [data-push-right*="_md-6"],
  [class*="plvr-grid_"] > [data-push-right*="_md-6"] {
    margin-right: 50%; }
  [class~="plvr-grid"] > [data-push-right*="_md-7"],
  [class*="plvr-grid-"] > [data-push-right*="_md-7"],
  [class*="plvr-grid_"] > [data-push-right*="_md-7"] {
    margin-right: 58.33333%; }
  [class~="plvr-grid"] > [data-push-right*="_md-8"],
  [class*="plvr-grid-"] > [data-push-right*="_md-8"],
  [class*="plvr-grid_"] > [data-push-right*="_md-8"] {
    margin-right: 66.66667%; }
  [class~="plvr-grid"] > [data-push-right*="_md-9"],
  [class*="plvr-grid-"] > [data-push-right*="_md-9"],
  [class*="plvr-grid_"] > [data-push-right*="_md-9"] {
    margin-right: 75%; }
  [class~="plvr-grid"] > [data-push-right*="_md-10"],
  [class*="plvr-grid-"] > [data-push-right*="_md-10"],
  [class*="plvr-grid_"] > [data-push-right*="_md-10"] {
    margin-right: 83.33333%; }
  [class~="plvr-grid"] > [data-push-right*="_md-11"],
  [class*="plvr-grid-"] > [data-push-right*="_md-11"],
  [class*="plvr-grid_"] > [data-push-right*="_md-11"] {
    margin-right: 91.66667%; }

  [class~="plvr-grid"] [class*="_md-first"],
  [class*="plvr-grid-"] [class*="_md-first"],
  [class*="plvr-grid_"] [class*="_md-first"] {
    order: -1; }
  [class~="plvr-grid"] [class*="_md-last"],
  [class*="plvr-grid-"] [class*="_md-last"],
  [class*="plvr-grid_"] [class*="_md-last"] {
    order: 1; } }
@media screen and (max-width: 48em) {
  [class~="plvr-grid"] > [class*="_sm-1"],
  [class*="plvr-grid-"] > [class*="_sm-1"],
  [class*="plvr-grid_"] > [class*="_sm-1"] {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  [class~="plvr-grid"] > [class*="_sm-2"],
  [class*="plvr-grid-"] > [class*="_sm-2"],
  [class*="plvr-grid_"] > [class*="_sm-2"] {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  [class~="plvr-grid"] > [class*="_sm-3"],
  [class*="plvr-grid-"] > [class*="_sm-3"],
  [class*="plvr-grid_"] > [class*="_sm-3"] {
    flex-basis: 25%;
    max-width: 25%; }
  [class~="plvr-grid"] > [class*="_sm-4"],
  [class*="plvr-grid-"] > [class*="_sm-4"],
  [class*="plvr-grid_"] > [class*="_sm-4"] {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  [class~="plvr-grid"] > [class*="_sm-5"],
  [class*="plvr-grid-"] > [class*="_sm-5"],
  [class*="plvr-grid_"] > [class*="_sm-5"] {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  [class~="plvr-grid"] > [class*="_sm-6"],
  [class*="plvr-grid-"] > [class*="_sm-6"],
  [class*="plvr-grid_"] > [class*="_sm-6"] {
    flex-basis: 50%;
    max-width: 50%; }
  [class~="plvr-grid"] > [class*="_sm-7"],
  [class*="plvr-grid-"] > [class*="_sm-7"],
  [class*="plvr-grid_"] > [class*="_sm-7"] {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  [class~="plvr-grid"] > [class*="_sm-8"],
  [class*="plvr-grid-"] > [class*="_sm-8"],
  [class*="plvr-grid_"] > [class*="_sm-8"] {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  [class~="plvr-grid"] > [class*="_sm-9"],
  [class*="plvr-grid-"] > [class*="_sm-9"],
  [class*="plvr-grid_"] > [class*="_sm-9"] {
    flex-basis: 75%;
    max-width: 75%; }
  [class~="plvr-grid"] > [class*="_sm-10"],
  [class*="plvr-grid-"] > [class*="_sm-10"],
  [class*="plvr-grid_"] > [class*="_sm-10"] {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  [class~="plvr-grid"] > [class*="_sm-11"],
  [class*="plvr-grid-"] > [class*="_sm-11"],
  [class*="plvr-grid_"] > [class*="_sm-11"] {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  [class~="plvr-grid"] > [class*="_sm-12"],
  [class*="plvr-grid-"] > [class*="_sm-12"],
  [class*="plvr-grid_"] > [class*="_sm-12"] {
    flex-basis: 100%;
    max-width: 100%; }

  [class~="plvr-grid"] > [data-push-left*="_sm-0"],
  [class*="plvr-grid-"] > [data-push-left*="_sm-0"],
  [class*="plvr-grid_"] > [data-push-left*="_sm-0"] {
    margin-left: 0; }
  [class~="plvr-grid"] > [data-push-left*="_sm-1"],
  [class*="plvr-grid-"] > [data-push-left*="_sm-1"],
  [class*="plvr-grid_"] > [data-push-left*="_sm-1"] {
    margin-left: 8.33333%; }
  [class~="plvr-grid"] > [data-push-left*="_sm-2"],
  [class*="plvr-grid-"] > [data-push-left*="_sm-2"],
  [class*="plvr-grid_"] > [data-push-left*="_sm-2"] {
    margin-left: 16.66667%; }
  [class~="plvr-grid"] > [data-push-left*="_sm-3"],
  [class*="plvr-grid-"] > [data-push-left*="_sm-3"],
  [class*="plvr-grid_"] > [data-push-left*="_sm-3"] {
    margin-left: 25%; }
  [class~="plvr-grid"] > [data-push-left*="_sm-4"],
  [class*="plvr-grid-"] > [data-push-left*="_sm-4"],
  [class*="plvr-grid_"] > [data-push-left*="_sm-4"] {
    margin-left: 33.33333%; }
  [class~="plvr-grid"] > [data-push-left*="_sm-5"],
  [class*="plvr-grid-"] > [data-push-left*="_sm-5"],
  [class*="plvr-grid_"] > [data-push-left*="_sm-5"] {
    margin-left: 41.66667%; }
  [class~="plvr-grid"] > [data-push-left*="_sm-6"],
  [class*="plvr-grid-"] > [data-push-left*="_sm-6"],
  [class*="plvr-grid_"] > [data-push-left*="_sm-6"] {
    margin-left: 50%; }
  [class~="plvr-grid"] > [data-push-left*="_sm-7"],
  [class*="plvr-grid-"] > [data-push-left*="_sm-7"],
  [class*="plvr-grid_"] > [data-push-left*="_sm-7"] {
    margin-left: 58.33333%; }
  [class~="plvr-grid"] > [data-push-left*="_sm-8"],
  [class*="plvr-grid-"] > [data-push-left*="_sm-8"],
  [class*="plvr-grid_"] > [data-push-left*="_sm-8"] {
    margin-left: 66.66667%; }
  [class~="plvr-grid"] > [data-push-left*="_sm-9"],
  [class*="plvr-grid-"] > [data-push-left*="_sm-9"],
  [class*="plvr-grid_"] > [data-push-left*="_sm-9"] {
    margin-left: 75%; }
  [class~="plvr-grid"] > [data-push-left*="_sm-10"],
  [class*="plvr-grid-"] > [data-push-left*="_sm-10"],
  [class*="plvr-grid_"] > [data-push-left*="_sm-10"] {
    margin-left: 83.33333%; }
  [class~="plvr-grid"] > [data-push-left*="_sm-11"],
  [class*="plvr-grid-"] > [data-push-left*="_sm-11"],
  [class*="plvr-grid_"] > [data-push-left*="_sm-11"] {
    margin-left: 91.66667%; }
  [class~="plvr-grid"] > [data-push-right*="_sm-0"],
  [class*="plvr-grid-"] > [data-push-right*="_sm-0"],
  [class*="plvr-grid_"] > [data-push-right*="_sm-0"] {
    margin-right: 0; }
  [class~="plvr-grid"] > [data-push-right*="_sm-1"],
  [class*="plvr-grid-"] > [data-push-right*="_sm-1"],
  [class*="plvr-grid_"] > [data-push-right*="_sm-1"] {
    margin-right: 8.33333%; }
  [class~="plvr-grid"] > [data-push-right*="_sm-2"],
  [class*="plvr-grid-"] > [data-push-right*="_sm-2"],
  [class*="plvr-grid_"] > [data-push-right*="_sm-2"] {
    margin-right: 16.66667%; }
  [class~="plvr-grid"] > [data-push-right*="_sm-3"],
  [class*="plvr-grid-"] > [data-push-right*="_sm-3"],
  [class*="plvr-grid_"] > [data-push-right*="_sm-3"] {
    margin-right: 25%; }
  [class~="plvr-grid"] > [data-push-right*="_sm-4"],
  [class*="plvr-grid-"] > [data-push-right*="_sm-4"],
  [class*="plvr-grid_"] > [data-push-right*="_sm-4"] {
    margin-right: 33.33333%; }
  [class~="plvr-grid"] > [data-push-right*="_sm-5"],
  [class*="plvr-grid-"] > [data-push-right*="_sm-5"],
  [class*="plvr-grid_"] > [data-push-right*="_sm-5"] {
    margin-right: 41.66667%; }
  [class~="plvr-grid"] > [data-push-right*="_sm-6"],
  [class*="plvr-grid-"] > [data-push-right*="_sm-6"],
  [class*="plvr-grid_"] > [data-push-right*="_sm-6"] {
    margin-right: 50%; }
  [class~="plvr-grid"] > [data-push-right*="_sm-7"],
  [class*="plvr-grid-"] > [data-push-right*="_sm-7"],
  [class*="plvr-grid_"] > [data-push-right*="_sm-7"] {
    margin-right: 58.33333%; }
  [class~="plvr-grid"] > [data-push-right*="_sm-8"],
  [class*="plvr-grid-"] > [data-push-right*="_sm-8"],
  [class*="plvr-grid_"] > [data-push-right*="_sm-8"] {
    margin-right: 66.66667%; }
  [class~="plvr-grid"] > [data-push-right*="_sm-9"],
  [class*="plvr-grid-"] > [data-push-right*="_sm-9"],
  [class*="plvr-grid_"] > [data-push-right*="_sm-9"] {
    margin-right: 75%; }
  [class~="plvr-grid"] > [data-push-right*="_sm-10"],
  [class*="plvr-grid-"] > [data-push-right*="_sm-10"],
  [class*="plvr-grid_"] > [data-push-right*="_sm-10"] {
    margin-right: 83.33333%; }
  [class~="plvr-grid"] > [data-push-right*="_sm-11"],
  [class*="plvr-grid-"] > [data-push-right*="_sm-11"],
  [class*="plvr-grid_"] > [data-push-right*="_sm-11"] {
    margin-right: 91.66667%; }

  [class~="plvr-grid"] [class*="_sm-first"],
  [class*="plvr-grid-"] [class*="_sm-first"],
  [class*="plvr-grid_"] [class*="_sm-first"] {
    order: -1; }
  [class~="plvr-grid"] [class*="_sm-last"],
  [class*="plvr-grid-"] [class*="_sm-last"],
  [class*="plvr-grid_"] [class*="_sm-last"] {
    order: 1; } }
@media screen and (max-width: 35.5em) {
  [class~="plvr-grid"] > [class*="_xs-1"],
  [class*="plvr-grid-"] > [class*="_xs-1"],
  [class*="plvr-grid_"] > [class*="_xs-1"] {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  [class~="plvr-grid"] > [class*="_xs-2"],
  [class*="plvr-grid-"] > [class*="_xs-2"],
  [class*="plvr-grid_"] > [class*="_xs-2"] {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  [class~="plvr-grid"] > [class*="_xs-3"],
  [class*="plvr-grid-"] > [class*="_xs-3"],
  [class*="plvr-grid_"] > [class*="_xs-3"] {
    flex-basis: 25%;
    max-width: 25%; }
  [class~="plvr-grid"] > [class*="_xs-4"],
  [class*="plvr-grid-"] > [class*="_xs-4"],
  [class*="plvr-grid_"] > [class*="_xs-4"] {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  [class~="plvr-grid"] > [class*="_xs-5"],
  [class*="plvr-grid-"] > [class*="_xs-5"],
  [class*="plvr-grid_"] > [class*="_xs-5"] {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  [class~="plvr-grid"] > [class*="_xs-6"],
  [class*="plvr-grid-"] > [class*="_xs-6"],
  [class*="plvr-grid_"] > [class*="_xs-6"] {
    flex-basis: 50%;
    max-width: 50%; }
  [class~="plvr-grid"] > [class*="_xs-7"],
  [class*="plvr-grid-"] > [class*="_xs-7"],
  [class*="plvr-grid_"] > [class*="_xs-7"] {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  [class~="plvr-grid"] > [class*="_xs-8"],
  [class*="plvr-grid-"] > [class*="_xs-8"],
  [class*="plvr-grid_"] > [class*="_xs-8"] {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  [class~="plvr-grid"] > [class*="_xs-9"],
  [class*="plvr-grid-"] > [class*="_xs-9"],
  [class*="plvr-grid_"] > [class*="_xs-9"] {
    flex-basis: 75%;
    max-width: 75%; }
  [class~="plvr-grid"] > [class*="_xs-10"],
  [class*="plvr-grid-"] > [class*="_xs-10"],
  [class*="plvr-grid_"] > [class*="_xs-10"] {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  [class~="plvr-grid"] > [class*="_xs-11"],
  [class*="plvr-grid-"] > [class*="_xs-11"],
  [class*="plvr-grid_"] > [class*="_xs-11"] {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  [class~="plvr-grid"] > [class*="_xs-12"],
  [class*="plvr-grid-"] > [class*="_xs-12"],
  [class*="plvr-grid_"] > [class*="_xs-12"] {
    flex-basis: 100%;
    max-width: 100%; }

  [class~="plvr-grid"] > [data-push-left*="_xs-0"],
  [class*="plvr-grid-"] > [data-push-left*="_xs-0"],
  [class*="plvr-grid_"] > [data-push-left*="_xs-0"] {
    margin-left: 0; }
  [class~="plvr-grid"] > [data-push-left*="_xs-1"],
  [class*="plvr-grid-"] > [data-push-left*="_xs-1"],
  [class*="plvr-grid_"] > [data-push-left*="_xs-1"] {
    margin-left: 8.33333%; }
  [class~="plvr-grid"] > [data-push-left*="_xs-2"],
  [class*="plvr-grid-"] > [data-push-left*="_xs-2"],
  [class*="plvr-grid_"] > [data-push-left*="_xs-2"] {
    margin-left: 16.66667%; }
  [class~="plvr-grid"] > [data-push-left*="_xs-3"],
  [class*="plvr-grid-"] > [data-push-left*="_xs-3"],
  [class*="plvr-grid_"] > [data-push-left*="_xs-3"] {
    margin-left: 25%; }
  [class~="plvr-grid"] > [data-push-left*="_xs-4"],
  [class*="plvr-grid-"] > [data-push-left*="_xs-4"],
  [class*="plvr-grid_"] > [data-push-left*="_xs-4"] {
    margin-left: 33.33333%; }
  [class~="plvr-grid"] > [data-push-left*="_xs-5"],
  [class*="plvr-grid-"] > [data-push-left*="_xs-5"],
  [class*="plvr-grid_"] > [data-push-left*="_xs-5"] {
    margin-left: 41.66667%; }
  [class~="plvr-grid"] > [data-push-left*="_xs-6"],
  [class*="plvr-grid-"] > [data-push-left*="_xs-6"],
  [class*="plvr-grid_"] > [data-push-left*="_xs-6"] {
    margin-left: 50%; }
  [class~="plvr-grid"] > [data-push-left*="_xs-7"],
  [class*="plvr-grid-"] > [data-push-left*="_xs-7"],
  [class*="plvr-grid_"] > [data-push-left*="_xs-7"] {
    margin-left: 58.33333%; }
  [class~="plvr-grid"] > [data-push-left*="_xs-8"],
  [class*="plvr-grid-"] > [data-push-left*="_xs-8"],
  [class*="plvr-grid_"] > [data-push-left*="_xs-8"] {
    margin-left: 66.66667%; }
  [class~="plvr-grid"] > [data-push-left*="_xs-9"],
  [class*="plvr-grid-"] > [data-push-left*="_xs-9"],
  [class*="plvr-grid_"] > [data-push-left*="_xs-9"] {
    margin-left: 75%; }
  [class~="plvr-grid"] > [data-push-left*="_xs-10"],
  [class*="plvr-grid-"] > [data-push-left*="_xs-10"],
  [class*="plvr-grid_"] > [data-push-left*="_xs-10"] {
    margin-left: 83.33333%; }
  [class~="plvr-grid"] > [data-push-left*="_xs-11"],
  [class*="plvr-grid-"] > [data-push-left*="_xs-11"],
  [class*="plvr-grid_"] > [data-push-left*="_xs-11"] {
    margin-left: 91.66667%; }
  [class~="plvr-grid"] > [data-push-right*="_xs-0"],
  [class*="plvr-grid-"] > [data-push-right*="_xs-0"],
  [class*="plvr-grid_"] > [data-push-right*="_xs-0"] {
    margin-right: 0; }
  [class~="plvr-grid"] > [data-push-right*="_xs-1"],
  [class*="plvr-grid-"] > [data-push-right*="_xs-1"],
  [class*="plvr-grid_"] > [data-push-right*="_xs-1"] {
    margin-right: 8.33333%; }
  [class~="plvr-grid"] > [data-push-right*="_xs-2"],
  [class*="plvr-grid-"] > [data-push-right*="_xs-2"],
  [class*="plvr-grid_"] > [data-push-right*="_xs-2"] {
    margin-right: 16.66667%; }
  [class~="plvr-grid"] > [data-push-right*="_xs-3"],
  [class*="plvr-grid-"] > [data-push-right*="_xs-3"],
  [class*="plvr-grid_"] > [data-push-right*="_xs-3"] {
    margin-right: 25%; }
  [class~="plvr-grid"] > [data-push-right*="_xs-4"],
  [class*="plvr-grid-"] > [data-push-right*="_xs-4"],
  [class*="plvr-grid_"] > [data-push-right*="_xs-4"] {
    margin-right: 33.33333%; }
  [class~="plvr-grid"] > [data-push-right*="_xs-5"],
  [class*="plvr-grid-"] > [data-push-right*="_xs-5"],
  [class*="plvr-grid_"] > [data-push-right*="_xs-5"] {
    margin-right: 41.66667%; }
  [class~="plvr-grid"] > [data-push-right*="_xs-6"],
  [class*="plvr-grid-"] > [data-push-right*="_xs-6"],
  [class*="plvr-grid_"] > [data-push-right*="_xs-6"] {
    margin-right: 50%; }
  [class~="plvr-grid"] > [data-push-right*="_xs-7"],
  [class*="plvr-grid-"] > [data-push-right*="_xs-7"],
  [class*="plvr-grid_"] > [data-push-right*="_xs-7"] {
    margin-right: 58.33333%; }
  [class~="plvr-grid"] > [data-push-right*="_xs-8"],
  [class*="plvr-grid-"] > [data-push-right*="_xs-8"],
  [class*="plvr-grid_"] > [data-push-right*="_xs-8"] {
    margin-right: 66.66667%; }
  [class~="plvr-grid"] > [data-push-right*="_xs-9"],
  [class*="plvr-grid-"] > [data-push-right*="_xs-9"],
  [class*="plvr-grid_"] > [data-push-right*="_xs-9"] {
    margin-right: 75%; }
  [class~="plvr-grid"] > [data-push-right*="_xs-10"],
  [class*="plvr-grid-"] > [data-push-right*="_xs-10"],
  [class*="plvr-grid_"] > [data-push-right*="_xs-10"] {
    margin-right: 83.33333%; }
  [class~="plvr-grid"] > [data-push-right*="_xs-11"],
  [class*="plvr-grid-"] > [data-push-right*="_xs-11"],
  [class*="plvr-grid_"] > [data-push-right*="_xs-11"] {
    margin-right: 91.66667%; }

  [class~="plvr-grid"] [class*="_xs-first"],
  [class*="plvr-grid-"] [class*="_xs-first"],
  [class*="plvr-grid_"] [class*="_xs-first"] {
    order: -1; }
  [class~="plvr-grid"] [class*="_xs-last"],
  [class*="plvr-grid-"] [class*="_xs-last"],
  [class*="plvr-grid_"] [class*="_xs-last"] {
    order: 1; } }
/************************
    HIDING COLS
*************************/
/*[class*="plvr-column-"]:not([class*="plvr-grid"]):not([class*="plvr-column-0"]) {
  display: block;
}
[class~="plvr-grid"][class*="plvr-column-"]:not([class*="plvr-column-0"]) {
  display: flex;
}*/
[class*="plvr-column-"][class*="plvr-column-0"] {
  display: none; }

@media screen and (max-width: 80em) {
  [class~="plvr-grid"],
  [class*="plvr-grid-"],
  [class*="plvr-grid_"] {
   /*
  &:not([class*="_lg-0"]) {
    display: flex;
  }*/ }
    [class~="plvr-grid"] > :not([class*="_lg-0"]),
    [class*="plvr-grid-"] > :not([class*="_lg-0"]),
    [class*="plvr-grid_"] > :not([class*="_lg-0"]) {
      display: block; }
    [class~="plvr-grid"] > [class*="_lg-0"],
    [class*="plvr-grid-"] > [class*="_lg-0"],
    [class*="plvr-grid_"] > [class*="_lg-0"] {
      display: none; } }
@media screen and (max-width: 64em) {
  [class~="plvr-grid"],
  [class*="plvr-grid-"],
  [class*="plvr-grid_"] {
   /*
  &:not([class*="_md-0"]) {
    display: flex;
  }*/ }
    [class~="plvr-grid"] > :not([class*="_md-0"]),
    [class*="plvr-grid-"] > :not([class*="_md-0"]),
    [class*="plvr-grid_"] > :not([class*="_md-0"]) {
      display: block; }
    [class~="plvr-grid"] > [class*="_md-0"],
    [class*="plvr-grid-"] > [class*="_md-0"],
    [class*="plvr-grid_"] > [class*="_md-0"] {
      display: none; } }
@media screen and (max-width: 48em) {
  [class~="plvr-grid"],
  [class*="plvr-grid-"],
  [class*="plvr-grid_"] {
   /*
  &:not([class*="_sm-0"]) {
    display: flex;
  }*/ }
    [class~="plvr-grid"] > :not([class*="_sm-0"]),
    [class*="plvr-grid-"] > :not([class*="_sm-0"]),
    [class*="plvr-grid_"] > :not([class*="_sm-0"]) {
      display: block; }
    [class~="plvr-grid"] > [class*="_sm-0"],
    [class*="plvr-grid-"] > [class*="_sm-0"],
    [class*="plvr-grid_"] > [class*="_sm-0"] {
      display: none; } }
@media screen and (max-width: 35.5em) {
  [class~="plvr-grid"],
  [class*="plvr-grid-"],
  [class*="plvr-grid_"] {
   /*
  &:not([class*="_xs-0"]) {
    display: flex;
  }*/ }
    [class~="plvr-grid"] > :not([class*="_xs-0"]),
    [class*="plvr-grid-"] > :not([class*="_xs-0"]),
    [class*="plvr-grid_"] > :not([class*="_xs-0"]) {
      display: block; }
    [class~="plvr-grid"] > [class*="_xs-0"],
    [class*="plvr-grid-"] > [class*="_xs-0"],
    [class*="plvr-grid_"] > [class*="_xs-0"] {
      display: none; } }

/*# sourceMappingURL=gridlex.css.map */
